<nga-card>
  <nga-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Security Cameras</span>
      <span class="cameras-filter">
        <a [class.active]="isSingleView" (click)="isSingleView = true">
          <i class="ion-android-checkbox-blank"></i>
        </a>
        <a [class.active]="!isSingleView" (click)="isSingleView = false">
          <i class="ion-android-apps"></i>
        </a>
      </span>
    </div>
  </nga-card-header>
  <nga-card-body>
    <div class="cameras single-view" *ngIf="isSingleView">
      <div class="camera" [style.background-image]="'url(/assets/images/camera1.jpg)'">
        <span>Camera #1</span>
      </div>
    </div>
    <div class="cameras" *ngIf="!isSingleView">
      <div class="camera" *ngFor="let c of cameras" [style.background-image]="'url(' + c.source + ')'">
        <span>{{ c.title }}</span>
      </div>
    </div>
  </nga-card-body>
  <nga-card-footer>
    <nga-actions size="medium">
      <nga-action icon="ion-navicon"></nga-action>
      <nga-action>
        <nga-search type="rotate-layout"></nga-search>
      </nga-action>
      <nga-action icon="ion-ios-email-outline"></nga-action>
      <nga-action disabled icon="ion-ios-bell-outline"></nga-action>
      <nga-action>
        <nga-user [menu]="userMenu" name="Han Solo"></nga-user>
      </nga-action>
      <nga-action icon="ion-ios-gear-outline"></nga-action>
    </nga-actions>
  </nga-card-footer>
</nga-card>
