@import '../../../@theme/styles/variables';

@include nga-install-component() {
  nga-card-header {
    padding: 0;
    border: none;
  }

  nga-card-body {
    padding: 0;
  }

  nga-card-footer {
    padding: 1rem 0;
    border: none;
  }

  .cameras-card-header {
    display: flex;

    .cameras-card-title {
      flex: 1;
      padding: 1.25rem;
    }
  }

  .cameras-filter {
    display: flex;

    a {
      font-size: 2rem;
      padding: 0.75rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: nga-theme(color-fg);
    }

    a:first-child {
      border-left: 1px solid nga-theme(separator);
    }

    a:last-child {
      border-top-right-radius: nga-theme(card-border-radius);
    }

    a.active {
      background-color: nga-theme(color-bg-active);
      color: nga-theme(color-fg-highlight);
      text-shadow: 0 0 12px rgba(nga-theme(color-fg-highlight), 0.4);
      border: none;
    }
  }

  .cameras {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .camera {
      position: relative;
      background-position: center;
      background-size: cover;
      height: 50%;
      width: 50%;

      span {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        background: rgba(88, 73, 184, 0.5);
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
    }

    .camera::before {
      background-color: black;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      transition: 0.1s;
    }

    .camera:hover::before {
      opacity: 0;
    }
  }

  .cameras.single-view {
    .camera {
      height: 100%;
      width: 100%;

      &::before {
        height: 100%;
      }
    }
  }

  nga-action {
    i {
      color: nga-theme(color-fg);
      font-size: 2.5rem;
      margin-right: 1rem;
    }

    span {
      font-family: nga-theme(font-family-secondary);
      font-weight: nga-theme(font-weight-bold);
      color: nga-theme(color-fg-heading);
      text-transform: uppercase;
    }
  }
}
