@import '../nga-layout.component';

$nga-layout-content-width: 80%;

/deep/ nga-layout-content {
  @extend %nga-layout-container;

  display: block;
  padding: $nga-layout-padding;
  width: $nga-layout-content-width;
  order: 1;
}
