@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
  }

  nb-card-body {
    padding: 0;
  }

  .dropdown {
    min-width: 120px;
  }

  .user-activity-list {
    padding: 0;
    margin: 0;
  }

  .user-activity-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: nb-theme(color-fg);
    padding: nb-theme(card-padding);
    border-bottom:
      nb-theme(list-item-border-width)
      nb-theme(card-header-border-type)
      nb-theme(separator);

    &:first-child {
      border-top:
        nb-theme(list-item-border-width)
        nb-theme(card-header-border-type)
        nb-theme(separator);
    }

    &:hover {
      background-color: nb-theme(layout-bg);

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 6px;
        left: 0;
        top: 0;
        background-color: nb-theme(color-success);
        border-radius: nb-theme(radius);
      }
    }
  }

  .visited-date,
  .value,
  .title {
    font-size: 1.25rem;
  }

  .title {
    font-size: 0.875rem;
  }

  .value {
    color: nb-theme(color-fg-heading);
  }

  @include nb-for-theme(cosmic) {
    .user-activity-list li {
      &:hover {
        &::before {
          $color-top: nb-theme(btn-success-bg);
          $color-bottom: btn-hero-success-left-color();

          background-image: linear-gradient(to top, $color-top, $color-bottom);
          box-shadow: 0 0 16px -2px btn-hero-success-middle-color();
        }
      }
    }
  }

  @include nb-for-theme(corporate) {
    .user-activity-list li {
      border-color: nb-theme(tabs-separator);

      &:first-child {
        border-color: nb-theme(tabs-separator);
      }

      &:hover {
        &::before {
          background-color: nb-theme(color-primary);
        }
      }
    }
  }
}
