@import '../../../@theme/styles/themes';

@include nb-install-component() {

  /deep/ .angular-tree-component {
    cursor: default;

    .node-wrapper {
      .node-content-wrapper {
        background: none;
        box-shadow: none;
        cursor: default;
      }

      .toggle-children-wrapper {
        cursor: pointer;
      }
    }
  }
}

.tree-menu .tree-menu-option:hover {
  background-color: transparent;
}

.nb {
  padding: 1px;
  font-size: 1.5rem;
}

.node-content-wrapper:hover, .node-content-wrapper-active, 
.node-content-wrapper.node-content-wrapper-active:hover, 
.node-content-wrapper-active.node-content-wrapper-focused,
.node-content-wrapper-focused {
  background-color: rgba(233, 221, 212, 0.29);
  padding-bottom: 26px;
  text-align: center;
}

.node-content-wrapper:hover .tree-menu {
  display: inline !important;
}

