@import '../../styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  footer-title .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(color-fg);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-fg-heading);
      }
    }
  }
  @include media-breakpoint-down(is) {
    .socials {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.nit {
  font-size: 0.8rem;
}

.socials {
  text-align: center;
  display: block;
  font-size: 2.5rem;
}

.footer-title {
  border-bottom: 0.1rem solid;
  border-bottom-color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.list-footer,
.list-footer > a {
  color: #fff !important;
}

.list-footer > a:hover,
.list-footer:hover {
  padding-left: 0.5rem;
  color: #fdb400 !important;
  text-decoration: none;
}

.list-footer {
  display: block;
  margin: 0.3rem;
  text-indent: 0;
  text-align: left;
  list-style: none;
  transition: padding-left 1.5s;
}
