@use '../../../@theme/styles/themes' as *;
@use '@nebular/theme/styles/global/breakpoints' as *;
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  button + button {
    margin-left: 2rem;
  }

  @include media-breakpoint-down(xxl) {
    nb-card-body {
      display: flex;
    }

    button {
      flex: 1;
      padding: 0.8rem;
    }
  }

  @include media-breakpoint-down(is) {
    nb-card-body {
      display: block;
    }

    button {
      + button {
        margin-left: 0;
      }

      width: 100%;
      display: block;
      margin-bottom: 2rem;
      padding: 0.75rem;
    }
  }
}
