.icon {
  display: inline-block;
  width: 4rem;
  padding: 1.25rem 0;
  text-align: center;
  font-size: 1.25rem;
}

.nb-icons .icon {
  padding: 0.75rem 0;
  font-size: 1.75rem;
}

nb-card-body {
  padding: 0;
}

nb-card-footer {
  text-align: right;
}
