@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .icon {
    display: inline-block;
    width: 4rem;
    padding: 1.25rem 0;
    text-align: center;
    font-size: 1.25rem;

    i:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .eva-icon-container {
    fill: nb-theme(card-fg-text);
  }

  .nb-icons .icon {
    padding: 0.75rem 0;
    font-size: 1.75rem;
  }

  nb-card-body {
    padding: 0;
  }

  nb-card-footer {
    text-align: right;
  }
}
