@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nb-icon {
    margin: 1rem;
  }

  nb-card-footer {
    text-align: right;
  }
}
