<nb-card-body>
  <ul class="traffic-list">
    <li>
      <div class="date">Jan</div>
      <div class="value">1336</div>
      <div class="delta down">5%</div>
      <div class="traffic-bar">
        <div class="period-from">Dec, 2107</div>
        <div class="vertical-progress-bar">
          <div class="progress-line"></div>
        </div>
        <div class="vertical-progress-bar">
          <div class="progress-line"></div>
        </div>
        <div class="period-to">Jan</div>
      </div>
    </li>
    <li>
      <div class="date">Feb</div>
      <div class="value">1336</div>
      <div class="delta up">60%</div>
      <div class="traffic-bar">
        <div class="period-from">Jan</div>
        <div class="vertical-progress-bar">
          <div class="progress-line"></div>
        </div>
        <div class="vertical-progress-bar">
          <div class="progress-line"></div>
        </div>
        <div class="period-to">Feb</div>
      </div>
    </li>
  </ul>
</nb-card-body>
