@import '../../core/style/nga.global';
@import '../../core/theming/nga.theming';

@mixin nga-layout-theme($nga-theme) {
  $global: map-get($nga-theme, global);

  $background: map-get($global, background);
  $foreground: map-get($global, foreground);

  /deep/ nga-layout {
    background: $background;
    color: $foreground;
  }
}
