@mixin nga-layout-theme() {
  /deep/ nga-layout {
    height: $nga-layout-height;
    min-height: $nga-layout-height;
    width: $nga-layout-width;

    background: $nga-layout-background;
    color: $nga-layout-foreground;

    @include nga-scrollbars(0.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));
  }
}
