<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (periodChange)="setPeriodAngGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-front-card [frontCardData]="trafficListData"></ngx-traffic-front-card>
      <i class="nb-arrow-up" (click)="toggleView()"></i>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (periodChange)="setPeriodAngGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-back-card [trafficBarData]="trafficBarData"></ngx-traffic-back-card>
      <i class="nb-arrow-down" (click)="toggleView()"></i>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
