@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .nb-arrow-up, .nb-arrow-down {
    position: absolute;
    top: 0;
    right: 0;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0);
    padding: 1.5rem;
    cursor: pointer;
  }

  nb-card-back {
    /deep/ nb-card-header {
      border: none;
    }
  }
}
