@import '../../../@theme/styles/themes';

@include nb-install-component() {

  ngx-room-selector {
    width: 65%;
    background-image: nb-theme(radial-gradient);
  }

  ngx-player {
    flex: 1;
    box-shadow: nb-theme(card-shadow);
  }

  nb-card {
    display: flex;
    flex-direction: row;
  }
}
