@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container {
    nb-card {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-down(md) {
    .accordion-container {
      margin-bottom: 3rem;
    }
  }
}
