<nb-card>
    <nb-card-body>
        <div>
            <label class="cabecera">{{ 'FORMACION_ACADEMICA.AVISO' | translate }}</label>
            <div class="nformacion">
                <label for="nformacion">* {{ 'FORMACION_ACADEMICA.NIVEL_FORMACION' | translate }}</label>
                <br>
                <select class="form-control" id="nformacion" name="niveldeformacion">
                    <option value="profesional">Profesional</option>
                    <option value="especializacion">Especialización</option>
                    <option value="maestria">Maestría</option>
                    <option value="diplomado">Diplomado</option>
                    <option value="doctorado">Doctorado</option>
                </select>
            </div>
            <div class="anioinicio">
                <label for="anioinicio">* {{ 'FORMACION_ACADEMICA.ANIO_INICIO' | translate }}</label>
                <input type="number" placeholder="2018" min="1900" step="1" class="form-control" name="anioinicio" ng-model="formData.name">
            </div>
            <div class="aniogrado">
                <label for="anio">{{ 'FORMACION_ACADEMICA.ANIO_FIN' | translate }}</label>
                <input type="number" placeholder="2018" min="1900" step="1" class="form-control" name="aniogrado" ng-model="formData.name">
            </div>
            <div class="paisuniversidad">
                <label for="npais">* {{ 'FORMACION_ACADEMICA.PAIS_UNIVERSIDAD' | translate }}</label>
                <select class="form-control" id="npais" name="npais">
                    <option value="peru">Peru</option>
                    <option value="chile">Chile </option>
                    <option value="rusia">Rusia</option>
                </select>
            </div>
            <div class="ciudaduniversidad">
                <label for="nciudad">* {{ 'FORMACION_ACADEMICA.CIUDAD_UNIVERSIDAD' | translate }}</label>
                <select class="form-control" id="nciudad" name="nciudad">
                    <option value="aa">AA</option>
                    <option value="bb">BB </option>
                    <option value="cc">CC</option>
                </select>
            </div>
            <div class="nuniversidad">
                <label for="nuniversidad">* {{ 'FORMACION_ACADEMICA.NOMBRE_UNIVERSIDAD' | translate }}</label>
                <input type="text" class="form-control" name="nuniversidad" placeholder="Ej. Universidad Distrital Francisco José de Caldas"
                    ng-model="formData.name">
            </div>
            <div class="modalidad">
                <label for="modalidad">* {{ 'FORMACION_ACADEMICA.MODALIDAD' | translate }}</label>
                <select class="form-control" id="modalidad" name="modalidad">
                    <option value="presencial">Presencial</option>
                    <option value="distancia">A distancia</option>
                    <option value="virtual">Virtual</option>
                </select>
            </div>
            <div class="titulogrado">
                <label for="nombretitulogrado">* {{ 'FORMACION_ACADEMICA.TITULO_OBTENIDO' | translate }}</label>
                <input type="text" class="form-control" name="nombretitulogrado" placeholder="Título obtenido" ng-model="formData.name">
            </div>
            <div class="nombretrabajogrado">
                <label for="nombretrabajogrado">* {{ 'FORMACION_ACADEMICA.TITULO_TRABAJO_GRADO' | translate }}</label>
                <input type="text" class="form-control" name="nombretrabajogrado" placeholder="Título del trabajo de grado" ng-model="formData.name">
            </div>
            <div class="form-group">
                <label for="descripciontrabajogrado">* {{ 'FORMACION_ACADEMICA.DESCRIPCION_TRABAJO_GRADO' | translate }}</label>
                <textarea name="descripciontrabajogrado" rows="5" placeholder="Descripción trabajo de grado" class="form-control"></textarea>
            </div>
            <div class="agregar">
                <input class="btn btn-success" type="button" value="{{ 'FORMACION_ACADEMICA.AGREGAR' | translate }}">
            </div>
            <hr>
            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
            <hr>
            <div class="seguir">
                <div class="col-xs-6 col-xs-offset-3">
                    <label class="progreso">
                        <progress max="100" value="16"></progress> 16%
                    </label>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <a ui-sref="form.interests" class="btn btn-info siguiente" (click)="mostrarAreaSiguiente()">
                        {{ 'FORMACION_ACADEMICA.SIGUIENTE' | translate }}
                        <i _ngcontent-c24="" class="ion-arrow-right-b"></i>
                    </a>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>