$nga-color-default: #2f2e66;
$nga-color-secondary: #a1a1e6;
$nga-color-inverse: white;

$nga-foreground: $nga-color-inverse;
$nga-background: #20274f;

$nga-foreground-inverse: $nga-color-secondary;

$nga-layout-padding: 2.5rem;

$nga-header-height: 4.725rem;
$nga-header-padding: 1.25rem;

$nga-footer-height: $nga-header-height;

$nga-sidebar-width: 16.25rem;
$nga-sidebar-width-compact: 3.45rem;
$nga-sidebar-padding: 0;

$nga-card-background: $nga-color-default;