<div class="row">
  <div class="col-md-4">
    <nga-card size="xmedium">
      <nga-card-header>Pie</nga-card-header>
      <nga-card-body>
        <ngx-chart-js-pie></ngx-chart-js-pie>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-md-4">
    <nga-card size="xmedium">
      <nga-card-header>Bar</nga-card-header>
      <nga-card-body>
        <ngx-chart-js-bar></ngx-chart-js-bar>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-md-4">
    <nga-card size="xmedium">
      <nga-card-header>Line</nga-card-header>
      <nga-card-body>
        <ngx-chart-js-line></ngx-chart-js-line>
      </nga-card-body>
    </nga-card>
  </div>
</div>
