@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  nb-actions > nb-action {
    padding: 0;
  }

  nb-action {
    i {
      color: nb-theme(color-fg);
      font-size: 2.5rem;
      margin-right: 1rem;
    }

    span {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      text-transform: uppercase;
    }
  }
}
