button {
  margin-right: 5px;
}

.badge {
  padding: 0.4rem 0.6rem;
}

.badge-success {
  background-color: #00d68f;
}

.badge-warning {
  background-color: #ffaa00;
}

.badge-danger {
  background-color: #ff3d71;
}

.badge-info {
  background-color: #0095ff;
}