.user-picture, image {
  width: 10rem;
  float: right;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 1rem;
}
.container {
  position: relative;
}
