<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-12">
    <ngx-card size="medium" accent="info">
      <ngx-card-header>Card with accent</ngx-card-header>
      <ngx-card-body>
        <p>some text</p>
        <p>some text</p>
        <p>some text</p>
        <p>some text</p>
        <p>some text</p>
    </ngx-card-body>
      <ngx-card-footer>footer</ngx-card-footer>
    </ngx-card>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-12">
    <ngx-reveal-card size="medium">
      <ngx-card class="card-front" accent="warning">
        <ngx-card-header>Reveal Card</ngx-card-header>
        <ngx-card-body>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </ngx-card-body>
        <ngx-card-footer>footer</ngx-card-footer>
      </ngx-card>
      <ngx-card class="card-back">
        <ngx-card-body>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </ngx-card-body>
      </ngx-card>
    </ngx-reveal-card>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-12">
    <ngx-flip-card size="medium">
      <ngx-card class="card-front" accent="success">
        <ngx-card-header>Flip Card</ngx-card-header>
        <ngx-card-body>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </ngx-card-body>
        <ngx-card-footer>footer</ngx-card-footer>
      </ngx-card>
      <ngx-card class="card-back">
        <ngx-card-body>
          back
        </ngx-card-body>
      </ngx-card>
    </ngx-flip-card>
  </div>

</div>

