@import '../../../@theme/styles/variables';

@include nga-install-component() {
  nga-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nga-tab {
    padding: nga-theme(padding);
  }

  /deep/ ngx-tab1, /deep/ ngx-tab2 {
    display: block;
    padding: nga-theme(padding);
  }
}
