<div class="row">
  <div class="col-md-6">
    <nga-card size="medium">
      <nga-card-header>Tabset</nga-card-header>
      <nga-card-body>
        <nga-tabset>
          <nga-tab tabTitle="Tab #1">
            <span>Content #1</span>
          </nga-tab>
          <nga-tab tabTitle="Tab #2">
            <span>Content #2</span>
          </nga-tab>
          <nga-tab tabTitle="Tab #3">
            <span>Content #3</span>
          </nga-tab>
        </nga-tabset>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card size="medium">
      <nga-card-header>Route Tabset</nga-card-header>
      <nga-card-body>
        <nga-route-tabset [tabs]="tabs"></nga-route-tabset>
      </nga-card-body>
    </nga-card>
  </div>
</div>
