@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  display: block;
  flex: 1;
  position: relative;

  .echart {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
