@import '../../core/style/nga.functions';

@function nga-get($custom-theme, $key, $default-theme: ()) {
  $config: map-get($custom-theme, $key);

  @if ($config) {
    @return map-merge($default-theme, $config);
  }

  @return $default-theme;
}

@function nga-contains($list, $item) {
  @return index($list, $item);
}

@function nga-calculate-shade($custom-theme, $custom-shade-theme, $default-shade-theme, $shade-name) {
  $result: ();

  @each $key, $value in $default-shade-theme {
    $option-value: map-get($custom-theme, $key);

    @if ($option-value and not map-has_key($custom-shade-theme, $key)) {
      @if ($shade-name == light) {
        $result: map-merge($result, ($key: tint($option-value, 30%)));
      }

      @if ($shade-name == dark) {
        $result: map-merge($result, ($key: shade($option-value, 15%)));
      }
    } @else {
      $result: map-merge($result, ($key: $value));
    }
  }

  @return $result;
}
