<nga-card>
  <nga-card-header>Button Shapes</nga-card-header>
  <nga-card-body>
    <div class="row">
      <div class="shape-container col-md-4">
        <div class="container-title">
          <span>Rectangle Button</span>
        </div>
        <div class="subheader">
          <span>Border radius:</span>
          <span>4px</span>
        </div>
        <div>
          <button class="btn btn-primary btn-rectangle btn-demo">Rectangle</button>
        </div>
      </div>
      <div class="shape-container col-md-4">
        <div class="container-title">
          <span>Semi-round Button</span>
        </div>
        <div class="subheader">
          <span>Border radius:</span>
          <span>12px</span>
        </div>
        <div>
          <button class="btn btn-primary btn-semi-round btn-demo">Semi-round</button>
        </div>
      </div>
      <div class="shape-container col-md-4">
        <div class="container-title">
          <span>Rounded Button</span>
        </div>
        <div class="subheader">
          <span>Border radius:</span>
          <span>round</span>
        </div>
        <div>
          <button class="btn btn-primary btn-round btn-demo">Round</button>
        </div>
      </div>
    </div>
  </nga-card-body>
</nga-card>
