@import '../../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {

  nb-card-body {
    padding: 0 0 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .shape-container {
    margin: 1.25rem 1.25rem 0;
  }

  .container-title {
    margin-bottom: 0.25rem;
  }

  .subheader {
    margin-bottom: 1rem;
    font-size: 0.875rem;

    span:nth-child(2) {
      color: nb-theme(color-fg-heading);
      font-weight: nb-theme(font-weight-bold);
    }
  }
}
