<div class="row">
  <div class="col-md-4">
    <div class="btn-shape-name">
      <span>Rectangle Button</span>
    </div>
    <div class="btn-shape-details">
      <span>Border radius:</span>
      <span>4px</span>
    </div>
    <div>
      <button class="btn btn-primary btn-rectangle btn-demo">Rectangle</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-shape-name">
      <span>Semi-round Button</span>
    </div>
    <div class="btn-shape-details">
      <span>Border radius:</span>
      <span>12px</span>
    </div>
    <div>
      <button class="btn btn-primary btn-semi-round btn-demo">Semi-round</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-shape-name">
      <span>Rounded Button</span>
    </div>
    <div class="btn-shape-details">
      <span>Border radius:</span>
      <span>round</span>
    </div>
    <div>
      <button class="btn btn-primary btn-round btn-demo">Round</button>
    </div>
  </div>
</div>
