@import '../../../../@theme/styles/variables';
@import '~@nga/theme/styles/global/bootstrap/buttons';

@include nga-install-component() {

  .subheader {
    margin-bottom: 19px;

    span:nth-child(2) {
      color: nga-theme(color-fg-heading);
    }
  }
}
