<div class="row">
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Simple search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="simple-search" tag="simple-search"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Layout Rotate Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="rotate-layout" tag="rotate-layout"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Modal Zoomin Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="modal-zoomin" tag="modal-zoomin"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Modal Move Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="modal-move" tag="modal-move"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Modal Drop Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="modal-drop" tag="modal-drop"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Modal Half Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="modal-half" tag="modal-half"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Curtain Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="curtain" tag="curtain"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>
        Column Curtain Search
      </nga-card-header>
      <nga-card-body>
        <nga-search type="column-curtain" tag="column-curtain"></nga-search>
      </nga-card-body>
      <nga-card-footer></nga-card-footer>
    </nga-card>
  </div>
</div>

