@import '../../../@theme/styles/variables';
@import '~@akveo/nga-theme/styles/global/bootstrap/hero-buttons';

@include nga-install-component() {

  nga-tab.content-active {
    display: flex;
    justify-content: center;
  }

  ngx-temperature-dragger {
    width: 80%;
  }
}
