@import '~@angular/material/theming';

@include nb-install() {
  @include nb-for-theme(material-dark) {
    $custom-dark-theme: mat-dark-theme(mat-palette($mat-pink), mat-palette($mat-blue-grey));
    @include angular-material-theme($custom-dark-theme);
  }

  @include nb-for-theme(material-light) {
    $custom-light-theme: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-pink));
    @include angular-material-theme($custom-light-theme);
  }

  @include nb-for-themes(material-dark, material-light) {
    @include mat-core();

    nb-layout-header {
      box-shadow: nb-theme(header-shadow) !important;
      background-color: nb-theme(color-primary-default) !important;

      .logo-container, nb-action {
        a, nb-icon, .user-name {
          color: nb-theme(text-control-color) !important;
        }
      }
    }

    nb-sidebar {
      background-color: nb-theme(background-basic-color-2) !important;
      transition: width 0.3s;

      .main-container {
        transition: width 0.3s;
      }
    }

    nb-card, nb-reveal-card {
      border: none !important;
      box-shadow: nb-theme(shadow) !important;
    }
  }
}
