@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    nb-card-body {
    }

    nb-card-header {
        font-size: 15px;
    }

    .estado {
        font-size: 14px;
    }

    .labelestado {
        color: #1ace09;
    }

    .datos1 {
        width: 78%;
        float: left;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 3px;
        margin-bottom: 10px;
    }

    .nombre {
        font-size: 32px;
    }

    .foto {
        text-align: center;
        width: 19%;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user-picture, image {
        width: 150px;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
