@import '../../../core/style/nga.global';
@import '../../../core/theming/nga.theming';

@mixin nga-card-header-theme($nga-theme) {
  $card: map-get($nga-theme, card);

  $separator: map-get($card, separator);

  /deep/ nga-card-header {
    border-bottom-color: $separator;
  }
}
