@import '../../../core/style/nga.global';

@mixin nga-card-header-theme($theme) {
  $border-colors: map-merge($nga-border-colors, map-get($theme, nga-border-colors));

  $separator: map-get($border-colors, light);

  /deep/ nga-card-header {
    border-bottom-color: $separator;
  }
}
