@import '../nga-card.component';

/deep/ nga-card-header {
  display: block;
  padding: $nga-card-padding;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: map-get($nga-font-weight, bolder);
  border-bottom: $nga-card-separator;
  text-transform: uppercase;
  opacity: 0.9;
  border-top-left-radius: $nga-card-border-radius;
  border-top-right-radius: $nga-card-border-radius;
}
