sudo: false

language: node_js

node_js:
  - "4"
  - "5"
  - "6"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

install:
  - npm config set spin false
  - npm install -g npm@3
  - npm install -g typescript@2.0.0

  - npm install

script:
  - npm run build:prod

notifications:
  slack: akveo:q559HckfZMSyZRb803aiLcjH
