sudo: false
dist: trusty

language: node_js

node_js:
  - "6"

cache:
  directories:
    - node_modules

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - google-chrome
    packages:
      - g++-4.8
      - google-chrome-stable

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm i -g npm@latest

install:
  - npm i

before_script:

script:
  - npm run lint:ci
  - npm run build:ci
  - npm run test
  - npm run e2e
  - npm run release:prepare
  - npm run release:validate

git:
  depth: 1

notifications:
  slack: akveo:q559HckfZMSyZRb803aiLcjH
