@import '../../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/buttons';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  /deep/ {
    $button-size: 50px;

    .container-title {
      color: nb-theme(color-fg);
      font-family: nb-theme(font-secondary);
      margin-bottom: 0.5rem;
    }

    .header {
      color: nb-theme(color-fg-header);
      font-size: 0.875rem;
    }

    .subheader {
      font-size: 0.75rem;
      font-weight: nb-theme(font-weight-light);
      color: nb-theme(color-fg);
    }

    .btn-demo {
      width: 180px;
    }

    .state-container {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .state-value {
        width: $button-size;
        height: $button-size;
        border-radius: nb-theme(btn-border-radius);

        @include nb-for-theme(corporate) {
          border-radius: nb-theme(btn-semi-round-border-radius);
        }
      }

      .state-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
        height: $button-size;
      }
    }

    .example-container {
      @include nb-ltr(padding-right, 0);
      @include nb-rtl(padding-left, 0);
    }

    .example-container .container-btn {
      margin-bottom: 1.5rem;
    }

    .block-level-buttons .btn-group {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-down(is) {
    ngx-default-buttons /deep/ nb-card-header {
      flex-direction: column;
      align-items: left;

      span {
        margin-bottom: 1rem;
      }
    }
  }

  @include media-breakpoint-down(xs) {

    /deep/.icon-buttons .icon-button-examples {
      button {
        @include nb-ltr(margin-right, 1rem);
        @include nb-rtl(margin-left, 1rem);
      }
    }

    ngx-default-buttons /deep/ nb-card-header {
      flex-direction: column;
      margin-bottom: 0.5rem;
    }

    ngx-block-level-buttons /deep/ {
      .btn-primary {
        padding: 0.75rem 1rem;
      }
    }
  }
}
