<div class="row">
  <div class="col-md-12">
    <ngx-hero-buttons></ngx-hero-buttons>
  </div>
  <div class="col-md-6">
    <ngx-shape-buttons></ngx-shape-buttons>
    <ngx-actions-groups></ngx-actions-groups>
    <nga-card>
      <nga-card-body>Disconect</nga-card-body>
    </nga-card>
    <div class="row">
      <div class="col-md-4">
        <ngx-dropdown-buttons></ngx-dropdown-buttons>
        <ngx-icon-buttons></ngx-icon-buttons>
      </div>
      <div class="col-md-8">
        <ngx-button-groups></ngx-button-groups>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ngx-size-buttons></ngx-size-buttons>
    <ngx-default-buttons></ngx-default-buttons>
    <ngx-block-level-buttons></ngx-block-level-buttons>
  </div>
</div>
