<div class="row">
  <div class="col-md-12">
    <nga-card>
      <nga-card-header>Hero Buttons</nga-card-header>
      <nga-card-body>
        <ngx-hero-buttons></ngx-hero-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>Button Shapes</nga-card-header>
      <nga-card-body>
        <ngx-shape-buttons></ngx-shape-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>Button Sizes</nga-card-header>
      <nga-card-body>
        <ngx-size-buttons></ngx-size-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-md-6">
    <nga-card>
      <nga-card-header>Default Buttons</nga-card-header>
      <nga-card-body>
        <ngx-default-buttons></ngx-default-buttons>
      </nga-card-body>
    </nga-card>
  </div>
</div>
