<div class="row">
  <div class="col-3 col-md-3">
    <nga-card>
      <nga-card-header>
        Flat buttons
      </nga-card-header>
      <nga-card-body>
        <ngx-flat-buttons></ngx-flat-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-3 col-md-3">
    <nga-card>
      <nga-card-header>
        Raised buttons
      </nga-card-header>
      <nga-card-body>
        <ngx-raised-buttons></ngx-raised-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-3 col-md-3">
    <nga-card>
      <nga-card-header>
        Different sizes
      </nga-card-header>
      <nga-card-body>
        <ngx-sized-buttons></ngx-sized-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-3 col-md-3">
    <nga-card>
      <nga-card-header>
        Disabled
      </nga-card-header>
      <nga-card-body>
        <ngx-disabled-buttons></ngx-disabled-buttons>
      </nga-card-body>
    </nga-card>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-6">
    <nga-card>
      <nga-card-header>
        Icon buttons
      </nga-card-header>
      <nga-card-body>
        <ngx-icon-buttons></ngx-icon-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-6 col-md-6">
    <nga-card>
      <nga-card-header>
        Button dropdowns
      </nga-card-header>
      <nga-card-body>
        <ngx-dropdown-buttons></ngx-dropdown-buttons>
      </nga-card-body>
    </nga-card>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-6">
    <nga-card>
      <nga-card-header>
        Large buttons
      </nga-card-header>
      <nga-card-body>
        <ngx-large-buttons></ngx-large-buttons>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-6 col-md-6">
    <nga-card>
      <nga-card-header>
        Button groups
      </nga-card-header>
      <nga-card-body>
        <ngx-group-buttons></ngx-group-buttons>
      </nga-card-body>
    </nga-card>
  </div>
</div>
