<div class="row">
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Pie</nga-card-header>
      <nga-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Bar</nga-card-header>
      <nga-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Line</nga-card-header>
      <nga-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Multiple x-axis</nga-card-header>
      <nga-card-body>
        <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Bar Horizontal</nga-card-header>
      <nga-card-body>
        <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Radar</nga-card-header>
      <nga-card-body>
        <ngx-chartjs-radar></ngx-chartjs-radar>
      </nga-card-body>
    </nga-card>
  </div>
</div>
