<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card title="Modals" class="modal-buttons">
        <button class="btn btn-success" (click)="lgModalShow()">Large modal</button>
        <button class="btn btn-warning" (click)="smModalShow()">Small modal</button>
        <button class="btn btn-primary" (click)="staticModalShow()">Static modal</button>
        <button class="btn btn-danger" (click)="childModalShow()">Open child modal</button>
      </ba-card>
    </div>
  </div>
</div>
