$nga-color-default: white;
$nga-color-secondary: #b5bbd5;
$nga-color-inverse: #7d85b2;

$nga-foreground: $nga-color-inverse;
$nga-background: #edf1f7;

$nga-header-height: 4.725rem;
$nga-header-padding: 1.25rem;

$nga-footer-height: $nga-header-height;

$nga-sidebar-width: 16.25rem;
$nga-sidebar-width-compact: 3.45rem;
$nga-sidebar-padding: 0;

$nga-user-picture-background: $nga-background;