@import '~@nga/theme/styles/themes/nga.theme.default';

$nga-color-primary: #edf1f7;
$nga-color-default: #7d85b2;
$nga-color-secondary: #b5bbd5;

$nga-background: white;

$nga-layout-background: $nga-color-primary;
$nga-layout-foreground: $nga-color-default;

$nga-header-height: 4.725rem;
$nga-header-background: $nga-background;
$nga-header-foreground: $nga-color-default;
$nga-header-padding: 1.25rem;

$nga-footer-height: $nga-header-height;
$nga-footer-background: $nga-background;

$nga-user-picture-background: $nga-color-default;

$nga-sidebar-background: $nga-background;
$nga-sidebar-width: 16.25rem;

:host /deep/ {
  color: $nga-color-default;

  nga-layout {
    nga-layout-header > nav {
      box-shadow: 0 4px 12px 0 rgba(33, 57, 161, 0.08);
    }

    nga-sidebar {
      box-shadow: 0 4px 12px 0 rgba(33, 57, 161, 0.08);

      ul li a {
        display: flex;
        align-items: center;

        transition: all 0.2s ease;
        padding: .375rem 0 .375rem 1rem;

        &:hover {
          background: $nga-color-primary;
          color: $nga-color-default;
        }

        &.active {
          font-weight: bold;
          color: $nga-color-default;
          background: $nga-color-primary;
        }

        i {
          font-size: 2rem;
          margin-right: 1.25rem;
        }
      }
    }

    nga-layout-footer > nav {
      box-shadow: 0 4px 12px 0 rgba(33, 57, 161, 0.08);
      border: none !important;
    }
  }
}
