@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  height: 100%;

  .traffic-bar {
    display: flex;
    align-self: stretch;
    position: relative;
    height: 100%;

    > * {
      margin-left: 0.5rem;
    }
  }

  .period-from, .period-to {
    align-self: flex-end;
    font-size: 1rem;
    line-height: 0.8;
  }

  .period-from {
    position: absolute;
    @include nb-ltr(right, 100%);
    @include nb-rtl(left, 100%);
    bottom: 0;
    white-space: nowrap;
  }

  .vertical-progress-bar {
    height: 100%;
    width: 0.7rem;
    transform: rotate(180deg);

    .progress-line {
      background-color: nb-theme(border-basic-color-3);
      width: 100%;

      &.success {
        background-color: nb-theme(color-success-default);
      }

      &.failure {
        background-color: nb-theme(color-danger-default);
      }
    }
  }
}
