@use '../../../@theme/styles/themes' as *;

@include nb-install-component() {
  nb-card-header {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
      width: 80%;
    }
  }
}
