<div>
  <div class="formacion1">
    <div class="nformacion">
      <label for="nformacion">
        <strong>Nivel de formación: </strong>
      </label>
      <label for="nformacion">Profesional</label>
    </div>
    <div class="anioinicio">
      <label for="anioinicio">
        <strong>Año de inicio: </strong>
      </label>
      <label for="anioinicio">2018</label>
    </div>
    <div class="aniogrado">
      <label for="aniogrado">
        <strong>Año de graduación: </strong>
      </label>
      <label for="aniogrado">2018</label>
    </div>
    <div class="paisuniversidad">
      <label for="npais">
        <strong>País de universidad: </strong>
      </label>
      <label for="npais">Perú</label>
    </div>
    <div class="ciudaduniversidad">
      <label for="nciudad">
        <strong>Ciudad de universidad: </strong>
      </label>
      <label for="nciudad">BBBB</label>
    </div>
    <div class="nuniversidad">
      <label for="nuniversidad">
        <strong>Nombre de universidad: </strong>
      </label>
      <label for="nuniversidad">Universidad Distrital Francisco José de Caldas</label>
    </div>
    <div class="modalidad">
      <label for="modalidad">
        <strong>Modalidad de estudio: </strong>
      </label>
      <label for="modalidad">Presencial</label>
    </div>
    <div class="titulogrado">
      <label for="nombretitulogrado">
        <strong>Título obtenido: </strong>
      </label>
      <label for="nombretitulogrado">Título obtenido</label>
    </div>
    <div class="nombretrabajogrado">
      <label for="nombretrabajogrado">
        <strong>Título del trabajo de grado: </strong>
      </label>
      <label for="nombretrabajogrado">Título del trabajo de grado</label>
    </div>
    <div class="form-group">
      <label for="descripciontrabajogrado"><strong>Síntesis del trabajo de grado: </strong></label>
      <p class="descripciontrabajogrado">kjkjhdgkjhfjkghkfhghfhgjhdfghdfhgjhdfghjfhgkjdfhgjkhdsfkjg
        hjksdfhghsjghsdfkjhgkjhsfdghfhdjfdhfjghdkhfjghjkhdfjfhgdhfgjkhdsfkjghkjdfhjghsdfkjhgjdfhgjk
        hdsfkjghsdjfghkjdfhgkjshdfkjghdkfhgkjfhgkjsdfhkjghdfkjbbmnkjfdgkjdfhgjrhgjkdfhkgjhsdkjfghkjd
        sfhgkjsdfgkjhsdfjghsdjfkghkjsdfhgjhdfskjghskj jkjkljjkllkjlkj</p>
    </div>
  </div>
</div>