@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    div {
        margin-top: 10px;
    }

    .formacion1 {
        border-bottom: 1px solid #00ff00;
        border-right: 1px solid #00ff00;
    }

    .nformacion {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .anioinicio {
        width: 24%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .aniogrado {
        width: 24%;
        float: left;
        margin-bottom: 10px;
    }

    .paisuniversidad {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .ciudaduniversidad {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .nuniversidad {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .modalidad {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .titulogrado {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .nombretrabajogrado {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .btn-success {
        height: auto !important;
        font-size: 13px;
    }

    .btn-info {
        height: auto !important;
        font-size: 13px;
    }
}
