@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  padding: 1.5rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -1rem;

  ngx-legend-chart,
  .period-select {
    padding-top: 1rem;
    @include nb-ltr(padding-left, 0.5rem);
    @include nb-rtl(padding-right, 0.5rem);
  }

  @include media-breakpoint-up(md) {
    .period-select {
      @include nb-ltr(margin-left, auto);
      @include nb-rtl(margin-right, auto);
    }
  }
}
