@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  display: block;
  height: 17.5rem;
  width: 100%;

  .echart {
    display: block;
    height: 100%;
    width: 100%;
  }
}
