<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="#/dashboard" class="al-logo clearfix"><span>Blur</span>Admin</a>
    <a href class="collapse-menu-link ion-navicon" ng-click="isMenuCollapsed=!isMenuCollapsed"></a>

    <div class="search">
        <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
        <input id="searchInput" type="text" placeholder="Search for...">
    </div>

    <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
            <a uib-dropdown-toggle class="profile-toggle-link">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT7vR66BWT_HdVJpwxGJoGBJl5HYfiSKDrsYrzw7kqf2yP6sNyJtHdaAQ"/>
            </a>
            <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li><i class="dropdown-arr"></i></li>
                <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
                <li><a href><i class="fa fa-cog"></i>Settings</a></li>
                <li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
            </ul>
        </div>
        <msg-center></msg-center>
    </div>
</div>