@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card-body {
    overflow: hidden;
  }

  .echart {
    position: absolute;
    left: 1em;
    height: calc(100% - 2 * 1rem);
    width: 40%;
  }

  .info {
    margin-left: 45%;
    padding-top: 1rem;
  }

  .value {
    margin: 0;
  }

  .details {
    color: nb-theme(text-hint-color);
  }
}
