@import "../../../theme/sass/conf/conf";

.card.popular-app {
  &>.card-body {
    padding: 0;
  }

  .popular-app-img {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 0;
    height: 260px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    img {
      max-width: 60%;
      max-height: 70%;
      position: absolute;
      transform: translateY(-50%) translate(-50%);
      top: 50%;
      left: 50%;
    }
  }
  .popular-app-cost {
    font-size: 20px;
    padding: 20px 22px;
    border-bottom: 1px solid $border;
  }
  .popular-app-info {
    padding: 20px 22px;
    font-size: 20px;
    text-align: center;
    .info-label {
      font-size: 12px;
    }
  }
  .row {
    margin: 0;
    > div {
      padding: 0;
    }
  }
}

body.badmin-transparent {
  .popular-app-img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .popular-app-cost {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
  }
}