@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    div {
        margin-top: 10px;
    }
    
    .descuentonombre {
        display: inline-block;
        width: 74%;
    }

    .btn-warning {
        height: auto !important;
        font-size: 13px;
    }

    .descuento {
        width: 95%;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .descuentop {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
}
