<div>
  <div class="descuentop">
    <label for="votacion">
      <strong>Descuento electoral: </strong>
    </label>
    <label for="des1">nombre_archivo.ext</label>
    <span class="btn btn-warning">Visualizar</span>
  </div>
  <div class="descuentop">
    <label for="votacion">
      <strong>Descuento Universidad Distrital: </strong>
    </label>
    <label for="des1">nombre_archivo.ext</label>
    <span class="btn btn-warning">Visualizar</span>
    <br>
    <label>
      <strong>Tipo: </strong>
    </label>
    <label>Egresado</label>
  </div>
</div>