<div class="content-top clearfix">
  <h1 class="al-title" translate>{{ activePageTitle }}</h1>

  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/pages/information" translate>{{'general.home'}}</a>
    </li>

    <li *ngIf="activeItem.showingParent && activeItem.parent.title" class="breadcrumb-item active">
      <a routerLink="{{activeItem.parent.route.path}}" translate>{{ activeItem.parent.title }}</a></li>
    <li class="breadcrumb-item active" translate>{{ activeItem.title }}</li>

  </ul>
</div>