@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: nb-theme(card-padding) 0 0 0;
  }

  .echarts {
    width: 100%;
    height: nb-theme(card-height-large);
  }
}
