@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  flex-direction: column;
  flex: 1;

  .title {
    padding-left: 0.5rem;
  }

  nb-card-header {
    margin-bottom: -1px;
  }

  nb-card-body {
    position: relative;
    padding: 0;
    overflow: hidden;
  }

  ngx-stats-bar-animation-chart {
    position: relative;

    ::ng-deep .echart {
      height: 100%;
      width: 100%;
    }
  }
}
