<nb-card-header>
  <div class="header-container">
    <div class="icon">
      <i class="ion-social-usd"></i>
    </div>
    <span class="title">Profit</span>
  </div>
</nb-card-header>
<nb-card-body class="p-0">
  <div class="info">
    <div class="period">
      <span class="time-interval">Jun 1 - Jun 30</span>
      <div class="value">
        <span class="currency">$</span>
        300
      </div>
    </div>
    <div class="period latest">
      <span class="time-interval">Jul 1 - Jul 31</span>
      <div class="value">
        <span class="currency">$</span>
        860
      </div>
    </div>
  </div>
  <ngx-stats-ares-chart [points]="chartData"></ngx-stats-ares-chart>
</nb-card-body>
