@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  flex-direction: column;
  flex: 1;

  /deep/ nb-card-header {
    display: flex;
    justify-content: space-between;

    .header-container {
      display: flex;
      @include nb-rtl(flex-direction, row-reverse);
    }

    .title {
      padding-left: 1rem;
    }
  }

  /deep/ nb-card-body {
    display: flex;
    position: relative;
    flex: 1;

    .period {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
    }

    .time-interval {
      color: nb-theme(color-fg);
    }

    .value {
      font-family: nb-theme(font-secondary), serif;
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(card-fg-heading);

      .currency {
        color: nb-theme(color-success);

        @include nb-for-theme(corporate) {
          color: nb-theme(color-primary);
        }
      }
    }

    ngx-stats-bar-chart {
      display: flex;
      flex: 1;
      height: 100%;

      .echart {
        height: 100%;
        width: 100%;
      }
    }
  }
}
