@mixin nga-sidebar-theme() {

  /deep/ nga-sidebar {
    height: $nga-layout-height;
    min-height: $nga-layout-height;
    width: $nga-sidebar-width;

    background: $nga-layout-background;
    color: $nga-layout-foreground;
  }
}
