<nga-card>
  <nga-card-header>Icon buttons</nga-card-header>
  <nga-card-body>
    <div class="row icon-buttons">
      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
            <i class="ion-ios-home-outline"></i>
          </button>
          <button type="button" class="btn btn-primary">Icon Button</button>
        </div>
        <div class="btn-with-icon-example">
          <button type="button" class="btn btn-primary btn-with-icon">
            <i class="icon ion-ios-home-outline"></i>
            <span>Icon Button</span>
          </button>
        </div>
        <div class="icon-button-examples">
          <button type="button" class="btn btn-outline-primary btn-icon">
            <i class="ion-paper-airplane"></i>
          </button>
          <button type="button" class="btn btn-outline-success btn-icon">
            <i class="ion-ios-cloud-download-outline"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-icon">
            <i class="ion-ios-sunny-outline"></i>
          </button>
        </div>
        <div class="icon-button-examples">
          <button type="button" class="btn btn-primary btn-icon">
            <i class="ion-plus"></i>
          </button>
          <button type="button" class="btn btn-success btn-icon">
            <i class="ion-ios-home-outline"></i>
          </button>
          <button type="button" class="btn btn-danger btn-icon">
            <i class="ion-ios-gear-outline"></i>
          </button>
        </div>
      </div>
    </div>
  </nga-card-body>
</nga-card>
