<nb-card>
  <nb-card-header>Icon buttons</nb-card-header>
  <nb-card-body>
    <div class="row icon-buttons">
      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
            <i class="nb-home"></i>
          </button>
          <button type="button" class="btn btn-primary">Icon Button</button>
        </div>
        <div class="btn-with-icon-example">
          <button type="button" class="btn btn-primary btn-with-icon">
            <i class="nb-home"></i>
            <span>Icon Button</span>
          </button>
        </div>
        <div class="icon-button-examples">
          <button type="button" class="btn btn-outline-primary btn-icon">
            <i class="nb-layout-centre"></i>
          </button>
          <button type="button" class="btn btn-outline-success btn-icon">
            <i class="nb-layout-default"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-icon">
            <i class="nb-layout-one-column"></i>
          </button>
        </div>
        <div class="icon-button-examples">
          <button type="button" class="btn btn-primary btn-icon">
            <i class="nb-shuffle"></i>
          </button>
          <button type="button" class="btn btn-success btn-icon">
            <i class="nb-skip-backward-outline"></i>
          </button>
          <button type="button" class="btn btn-danger btn-icon">
            <i class="nb-skip-forward-outline"></i>
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
