nb-card-body {
  div:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.btn-with-icon-example {
  width: 100%;

  .btn {
    width: 100%;
  }
}

.btn-group:not(:last-child) {
  margin-bottom: 1rem;
}

.icon-button-examples {
  display: flex;
  justify-content: flex-start;

  button {
    margin-right: 2rem;
    min-width: 4rem;
  }
}

.icon-button-examples:not(:last-child) {
  margin-bottom: 1rem;
}
