@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  /deep/ .leaflet-container {
    height: nb-theme(card-height-small);
    flex: 2;
  }

  /deep/ ngx-ec-map-chart {
    flex: 3;
  }

}
