<div class="button-wrapper">
  <button type="button" class="btn btn-default">Default</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-primary">Primary</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-success">Success</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-info">Info</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-warning">Warning</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-danger">Danger</button>
</div>
