$font-family: 'Roboto', sans-serif;

$view-total: rgba(0, 0, 0, .4);

$activelink: $primary;
$hoverlink: $primary-dark;

$default: #ffffff !default;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$panel-bg: #f8f8f8;
$panel-bg-hover: #fff;

$disabled: #bdbdbd;
$disabled-bg: #e6e6e6;

$default-text: #7b7b7b;
$help-text: #949494;

$border: #dddddd;
$border-light: #eeeeee;
$input-border: #cccccc;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$top-height: 66px;

$small-panel-height: 114px;
$xsmall-panel-height: 187px;
$medium-panel-height: 400px;
$extra-medium-panel-height: 550px;
$large-panel-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '../assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;
