@import '../../styles/themes';

@mixin ngx-release-banner-component {
  ngx-release-banner {
    background-color: #dc5425;
    color: #ffffff;

    .banner-heading,
    .close-button {
      color: #ffffff;
    }

    .cta {
      color: #ffffff;
    }

    .cta-link {
      background: #ffffff;
      color: #000000;
    }
  }
}
