@import '../../styles/themes';

:host {
  position: fixed;
  @include nb-ltr(right, 1.5rem);
  @include nb-rtl(left, 1.5rem);
  top: 20vh;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(189, 93, 60, 0.54);
  z-index: 99999999;

  .heading-with-icon {
    display: flex;
    align-items: center;
  }

  .icon {
    height: auto;
    width: 77px;
    margin: 0 26px;
  }

  .banner-heading {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
  }

  .banner-content {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: auto;
    padding: 10px;
  }

  .nb-close {
    font-size: 24px;
    font-weight: 600;
  }

  .cta {
    margin: 8px 0 0;
    text-align: center;
    font-size: 14px;
  }

  .cta-link {
    font-size: 10px;
    border-radius: 2px;
    display: inline-block;
    padding: 4px 16px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
