<div>
  <div class="laboral1">
    <div class="nempresa">
      <label for="nempresa"><strong>Nombre de la empresa: </strong></label>
      <label for="nempresa">Nombre de la empresa</label>
    </div>
    <div class="dempresa">
      <label for="dempresa"><strong>Dirección de la empresa: </strong></label>
      <label for="dempresa">ClL 546 # 54 - 65</label>
    </div>
    <div class="emailempresa">
      <label for="emailempresa"><strong>Correo electrónico de la empresa: </strong></label>
      <label for="emailempresa">jdjfdjffj@jfjfj.jd</label>
    </div>
    <div class="telefonoempresa">
      <label for="telefonoempresa"><strong>Teléfono de la empresa: </strong></label>
      <label for="telefonoempresa">7898897</label>
    </div>
    <div class="fechaini">
      <label for="fechaini"><strong>Fecha de inicio: </strong></label>
      <label for="fechaini">2018</label>
    </div>
    <div class="fechafin">
      <label for="fechafin"><strong>Fecha de finalizaión: </strong></label>
      <label for="fechafin">2018</label>
    </div>
    <div class="cargo">
      <label for="cargo"><strong>Cargo desempeñado: </strong></label>
      <label for="cargo">Cargo desempeñado</label>
    </div>
    <div class="form-group">
      <label for="descripcioncargo">
        <strong>Descripción del cargo y sus funciones: </strong>
      </label>
      <p class="descripcioncargo">kjkjhdgkjhfjkghkfhghfhgjhdfghdfhgjhdfghjfhgkjdfhgjkhdsfkjg hjksdfhghsjghsdfkjhgkjhsfdghfhdjfdhfjghdkhfjghjkhdfjfhgdhfgjkhdsfkjghkjdfhjghsdfkjhgjdfhgjk
        hdsfkjghsdjfghkjdfhgkjshdfkjghdkfhgkjfhgkjsdfhkjghdfkjbbmnkjfdgkjdfhgjrhgjkdfhkgjhsdkjfghkjd sfhgkjsdfgkjhsdfjghsdjfkghkjsdfhgjhdfskjghskj
        jkjkljjkllkjlkj
      </p>
    </div>
  </div>
</div>