@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  @include media-breakpoint-down(md) {
    .accordion-container {
      margin-bottom: 3rem;
    }
  }
}
