<div>
    <div class="idioma1">
        <div class="nombreidioma">
            <label for="nombreidioma">
                <strong>Idioma: </strong>
            </label>
            <label for="nombreidioma">Español</label>
        </div>
        <div class="nativo">
            <label for="nativo">
                <strong>Idioma materno (idioma natal): </strong>
            </label>
            <label for="nativo">Sí</label>
        </div>
        <div class="habla">
            <label for="habla">
                <strong>Nivel de habla: </strong>
            </label>
            <label for="habla">Regular</label>
        </div>
        <div class="escucha">
            <label for="escucha">
                <strong>Nivel de escucha: </strong>
            </label>
            <label for="escucha">Bajo</label>
        </div>
        <div class="escritura">
            <label for="escritura">
                <strong>Nivel de escritura: </strong>
            </label>
            <label for="escritura">Alto</label>
        </div>
        <div class="lectura">
            <label for="lectura">
                <strong>Nivel de lectura: </strong>
            </label>
            <label for="lectura">Regular</label>
        </div>
    </div>
</div>