@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    div {
        margin-top: 15px;
    }

    .idioma1 {
        border-bottom: 1px solid #00ff00;
        border-right: 1px solid #00ff00;
        min-height: 150px;
    }

    .nombreidioma {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .nativo {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .habla {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .escucha {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .escritura {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .lectura {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }
}
