<div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Input Size</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Small">
        <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Medium">
        <input type="text" nbInput fullWidth fieldSize="large" placeholder="Large">
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Input Shapes</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle">
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi round">
        <input type="text" nbInput fullWidth shape="round" placeholder="Round">
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Full Width Inputs</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput placeholder="Initial width">
        <input type="text" nbInput fullWidth placeholder="Full width">
        <textarea nbInput placeholder="Initial width"></textarea>
        <textarea nbInput fullWidth placeholder="Full width"></textarea>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Input Colors</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth status="info" placeholder="Info">
        <input type="text" nbInput fullWidth status="success" placeholder="Success">
        <input type="text" nbInput fullWidth status="warning" placeholder="Warning">
        <input type="text" nbInput fullWidth status="danger" placeholder="Danger">
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Input Elements</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Input">
        <textarea nbInput fullWidth shape="round" placeholder="Textarea"></textarea>
      </nb-card-body>
    </nb-card>
  </div>
</div>
