<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Lora Configuration </nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Project" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Nick" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="With Icon" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded">
          <input type="text" placeholder="Rounded border" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Project" class="form-control"/>
          <small class="form-text">A block of help text that breaks into a new line and may extend beyond one line.
          </small>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Disabled input" class="form-control" disabled/>
        </div>
        <div class="input-group">
          <textarea rows="5" placeholder="Text Area" class="form-control"></textarea>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" placeholder="Small Input" class="form-control"/>
        </div>
        <div class="input-group input-group-lg">
          <input type="text" placeholder="Large Input" class="form-control"/>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
