@import '../../../../@theme/styles/themes';

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {

  .chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.125rem;
  }

  .legends {
    display: flex;
    color: nb-theme(color-fg);
    padding: 0 1.5rem;
    margin-left: 1.25rem;
  }

  .legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .legend-item-color {
    height: 0.875rem;
    width: 0.875rem;

    &.legend-all-orders {
      box-shadow: 0 3px 0 $legend-all-orders-color;
      background: linear-gradient(90deg, #00c7c7 0%, #00d977 100%);
    }

    &.legend-payment {
      box-shadow: 0 3px 0 $legend-payment-color;
      background: linear-gradient(90deg, #a454ff 0%, #7659ff 100%);
    }

    &.legend-canceled {
      box-shadow: 0 3px 0 $legend-canceled-color;
      background: linear-gradient(90deg, #0088ff 0%, #3dafff 100%);
    }
  }

    .legend-title {
      padding-left: 0.75rem;
    }

  .dropdown {
    min-width: 8.125rem;
  }
}
