<div class="chart-header">
  <div class="legends">
    <div *ngFor="let legend of chartLegend" class="legend">
      <div class="item-color" [ngClass]="legend.styleClass"></div>
      <div class="legend-title">{{ legend.title }}</div>
    </div>
  </div>

  <div class="dropdown"
       [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }"
       ngbDropdown>
    <button type="button" ngbDropdownToggle class="btn"
            [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
      {{ type }}
    </button>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li class="dropdown-item" *ngFor="let period of types" (click)="changePeriod(period)">{{ period }}</li>
    </ul>
  </div>
</div>
