@import '../../../../@theme/styles/variables';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
  display: flex;
  position: relative;

  .svg-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .temperature-bg {
    position: absolute;
    width: 88%;
    height: 88%;
    top: 13%;
    left: 6%;
    background-color: lighten(nb-theme(layout-bg), 2%);
    border-radius: 50%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .power-bg {
    position: absolute;
    width: 5.25rem;
    height: 5.25rem;
    background-color: nb-theme(card-bg);
    border-radius: 50%;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: nb-theme(card-shadow);
    cursor: pointer;
    font-size: 2.5rem;
    color: nb-theme(color-fg-heading);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-out;

    &:hover {
      background-color: lighten(nb-theme(card-bg), 5%);
    }

    &:active {
      background-color: darken(nb-theme(card-bg), 5%);
      box-shadow: none;
    }

    &.off {
      color: nb-theme(color-fg);
      text-shadow: none;
    }
  }
}
