<div>
  <div class="gruposanguineo">
    <label for="gruposanguineo">
      <strong>Grupo sanguíneo y RH: </strong>
    </label>
    <label for="gruposanguineo">AB </label>
    <label for="rh">Negativo</label>
  </div>
  <div class="libreta">
    <label for="tipolibreta">
      <strong>Libreta militar: </strong>
    </label>
    <label for="tipolibreta">Primera clase</label>
    <label for="tipolibreta">
      <strong> N° </strong>
    </label>
    <label for="numerolibreta">5525252</label>
  </div>
  <div class="paisnacimiento">
    <label for="paisnacimiento">
      <strong>Ciudad y país de nacimiento: </strong>
    </label>
    <label for="paisnacimiento">CCCC, Chile</label>
  </div>
  <div class="paisresidencia">
    <label for="paisresidencia">
      <strong>Ciudad y país de residencia: </strong>
    </label>
    <label for="paisresidencia">BBB, Rusia</label>
  </div>
  <div class="direccion">
    <label for="direccionresidencia">
      <strong>Dirección de residencia: </strong>
    </label>
    <label for="direccionresidencia">Cll 123 # 123 - 123</label>
  </div>
  <div class="postal">
    <label for="postal"><strong>Código postal: </strong></label>
    <label for="postal">552</label>
  </div>
  <div class="telefono">
    <label for="telefono"><strong>Teléfono: </strong></label>
    <label for="telefono">5525252</label>
  </div>
  <div class="telefonoalt">
    <label for="telefonocontacto"><strong>Teléfono de contacto: </strong></label>
    <label for="telefonocontacto">5525252</label>
  </div>
</div>