@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  display: block;
  height: 100%;
  width: 40%;

  .leaflet-container {
    height: 100%;
    background-color: nb-theme(color-bg);
  }

}
