<nb-card>
  <nb-card-header>
    <h2>Asignación de entrevistador</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="docente">
      <label for="docente">* Docente asignado</label>
      <br>
      <select class="form-control" id="docente" name="docente">
        <option value="aaa">Docente A</option>
        <option value="bbb">Docente B</option>
        <option value="ccc">Docente C</option>
      </select>
    </div>
    <div class="listaestudiantes">
      <label for="listaestudiantes">* Listado de estudiantes asignados</label>
      <br>
      <div class="asignado">
        <select multiple class="form-control selectlista">
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
          <option>Item 4</option>
          <option>Item 5</option>
        </select>
      </div>
      <div class="botonasignacion">
        <a ui-sref="form.interests" class="btn btn-info asignar">
          <i _ngcontent-c24="" class="ion-arrow-left-b"></i> Asignar
        </a>
        <br>
        <a ui-sref="form.interests" class="btn btn-info quitar">
          Quitar  <i _ngcontent-c24="" class="ion-arrow-right-b"></i>
        </a>
      </div>
      <div class="sinasignar">
        <select multiple class="form-control selectlista">
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
          <option>Item 4</option>
          <option>Item 5</option>
        </select>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="form.interests" class="btn btn-danger siguiente">
        <i _ngcontent-c24="" class="ion-arrow-left-b"></i> Volver
      </a>
      <a ui-sref="form.interests" class="btn btn-success siguiente">
        Guardar asignación
        <i _ngcontent-c24="" class="ion-android-mail"></i>
      </a>
    </div>
  </nb-card-footer>
</nb-card>