@import '../../core/style/nga.global';

@mixin _nga-card-header($status-color) {
  background-color: $status-color;
  border-color: $status-color;
}

@mixin nga-card-theme($theme) {
  $global: map-merge($nga-global, map-get($theme, nga-global));
  $background-colors: map-merge($nga-background-colors, map-get($theme, nga-background-colors));
  $font-weight: map-merge($nga-font-weight, map-get($theme, nga-font-weight));
  $card: map-merge($nga-card, map-get($theme, nga-card));

  $background: map-get($global, background);
  $foreground: map-get($global, foreground);

  $font-weight: map-get($font-weight, normal);

  $shadow: map-get($card, shadow);

  /deep/ nga-card {
    background: $background;
    color: $foreground;
    box-shadow: 1px 1px 4px $shadow;
    font-weight: $font-weight;

    @each $name, $color in $background-colors {
      &[#{$name}] {
        /deep/ nga-card-header {
          @include _nga-card-header($color);
        }
      }
    }
  }
}
