@import '../../core/style/nga.global';
@import '../../core/theming/nga.theming';

@mixin _nga-card-header($status-color) {
  background-color: $status-color;
  border-color: $status-color;
}

@mixin nga-card-theme($nga-theme) {
  $global: map-get($nga-theme, global);
  $colors: map-get($nga-theme, color-light);
  $font-weight: map-get($nga-theme, font-weight);
  $card: map-get($nga-theme, card);

  $background: map-get($global, background);
  $foreground: map-get($global, foreground);

  $font-weight: map-get($font-weight, normal);

  $shadow: map-get($card, shadow);

  /deep/ nga-card {
    background: $background;
    color: $foreground;
    box-shadow: 1px 1px 4px $shadow;
    font-weight: $font-weight;

    @each $name, $color in $colors {
      &[#{$name}] {
        /deep/ nga-card-header {
          @include _nga-card-header($color);
        }
      }
    }
  }
}
