@import '../../core/style/nga.globals';

$nga-card-height: (
  small: 114px,
  xsmall: 187px,
  medium: 400px,
  xmedium: 550px,
  large: 974px
);

$nga-card-props: (
  radius: 7px,
  text-color: map-get($nga-colors, default),
  header-background: transparent,
  header-border: 1px solid map-get($nga-border-colors, light),
  shadow: 1px 1px 4px rgba(0, 0, 0, 0.15),
  padding: 20px,
  background-color: map-get($nga-input-colors, background)
);

/deep/ nga-card {
  display: block;
  color: map-get($nga-card-props, text-color);
  background: map-get($nga-card-props, background-color);
  margin-bottom: map-get($nga-card-props, padding);
  border-radius: map-get($nga-card-props, radius);
  box-shadow: map-get($nga-card-props, shadow);

  @include nga-scrollbars(0.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));

  &[small] {
    min-height: map-get($nga-card-height, small);
  }

  &[xsmall] {
    min-height: map-get($nga-card-height, xsmall);
  }

  &[medium] {
    min-height: map-get($nga-card-height, medium);
  }

  &[xmedium] {
    min-height: map-get($nga-card-height, xmedium);
  }

  &[large] {
    min-height: map-get($nga-card-height, large);
  }

  &[primary] {
    /deep/ nga-card-header {
      background-color: map-get($nga-background-colors, primary);
      border-color: map-get($nga-background-colors, primary);
    }
  }

  &[success] {
    /deep/ nga-card-header {
      background-color: map-get($nga-background-colors, success);
      border-color: map-get($nga-background-colors, success);
    }
  }

  &[info] {
    /deep/ nga-card-header {
      background-color: map-get($nga-background-colors, info);
      border-color: map-get($nga-background-colors, info);
    }
  }

  &[warning] {
    /deep/ nga-card-header {
      background-color: map-get($nga-background-colors, warning);
      border-color: map-get($nga-background-colors, warning);
    }
  }

  &[danger] {
    /deep/ nga-card-header {
      background-color: map-get($nga-background-colors, danger);
      border-color: map-get($nga-background-colors, danger);
    }
  }
}

/deep/ nga-card-header {
  display: block;
  padding: map-get($nga-card-props, padding);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: map-get($nga-font-weight, bolder);
  border-bottom: map-get($nga-card-props, header-border);
  text-transform: uppercase;
  opacity: 0.9;
  border-top-left-radius: map-get($nga-card-props, radius);
  border-top-right-radius: map-get($nga-card-props, radius);
}

/deep/ nga-card-body {
  display: block;
  padding: map-get($nga-card-props, padding);
  overflow: auto;
}

/deep/ nga-card-footer {
  display: block;
  padding: map-get($nga-card-props, padding);
  border-bottom-left-radius: map-get($nga-card-props, radius);
  border-bottom-right-radius: map-get($nga-card-props, radius);
}
