@import '../../core/style/nga.globals';

$small-card-height: 114px;
$xsmall-card-height: 187px;
$medium-card-height: 400px;
$extra-medium-card-height: 550px;
$large-card-height: 974px;

$card-radius: 7px;
$card-text: $nga-color-default;
$card-bg: rgba(255, 255, 255, 0.1);
$card-header-bg: transparent;
$card-header-border: 1px solid $nga-border-color-light;
$card-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
$card-padding: 20px;
$card-background: $nga-input-background;

/deep/ nga-card {
  display: block;
  color: $card-text;
  background: $card-background;
  margin-bottom: $card-padding;
  border-radius: $card-radius;
  box-shadow: $card-shadow;

  @include nga-scrollbars(0.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));

  &[small] {
    min-height: $small-card-height;
  }

  &[xsmall] {
    min-height: $xsmall-card-height;
  }

  &[medium] {
    min-height: $medium-card-height;
  }

  &[xmedium] {
    min-height: $extra-medium-card-height;
  }

  &[large] {
    min-height: $large-card-height;
  }

  &[primary] {
    /deep/ nga-card-header {
      background-color: $nga-background-color-primary;
      border-color: $nga-background-color-primary;
    }
  }

  &[success] {
    /deep/ nga-card-header {
      background-color: $nga-background-color-success;
      border-color: $nga-background-color-success;
    }
  }

  &[info] {
    /deep/ nga-card-header {
      background-color: $nga-background-color-info;
      border-color: $nga-background-color-info;
    }
  }

  &[warning] {
    /deep/ nga-card-header {
      background-color: $nga-background-color-warning;
      border-color: $nga-background-color-warning;
    }
  }

  &[danger] {
    /deep/ nga-card-header {
      background-color: $nga-background-color-danger;
      border-color: $nga-background-color-danger;
    }
  }
}

/deep/ nga-card-header {
  display: block;
  padding: $card-padding;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: $nga-font-bolder;
  border-bottom: $card-header-border;
  text-transform: uppercase;
  opacity: 0.9;
  border-top-left-radius: $card-radius;
  border-top-right-radius: $card-radius;
}

/deep/ nga-card-body {
  display: block;
  padding: $card-padding;
  overflow: auto;
}

/deep/ nga-card-footer {
  display: block;
  padding: $card-padding;
  border-bottom-left-radius: $card-radius;
  border-bottom-right-radius: $card-radius;
}
