@import '../../core/style/nga.global';

$nga-card-height: (
  small: 114px,
  xsmall: 187px,
  medium: 400px,
  xmedium: 550px,
  large: 974px
);

$nga-card-border-radius: 7px;
$nga-card-separator: 1px solid map-get($nga-border-colors, light);
$nga-card-padding: 20px;
$nga-card-background: map-get($nga-input-colors, background);

@mixin _nga-card-header($header-color) {
  background-color: $header-color;
  border-color: $header-color;
}

/deep/ nga-card {
  display: block;
  color: map-get($nga-global, foreground);
  background: $nga-card-background;
  margin-bottom: $nga-card-padding;
  border-radius: $nga-card-border-radius;
  box-shadow: 1px 1px 4px map-get($nga-card, shadow);
  font-weight: map-get($nga-font-weight, normal);

  @include nga-scrollbars(0.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));

  @each $name, $size in $nga-card-height {
    &[#{$name}] {
      min-height: #{$size};
    }
  }

  @each $name, $color in $nga-background-colors {
    &[#{$name}] {
      /deep/ nga-card-header {
        @include _nga-card-header($color);
      }
    }
  }
}
