<nb-card>
  <nb-card-header>
    Window
  </nb-card-header>
  <nb-card-body>
    <button (click)="openWindowForm()" nbButton>Open window form</button>

    <button (click)="openWindow(contentTemplate)" nbButton>Open window</button>

    <button (click)="openWindowWithoutBackdrop()" nbButton>Open window without backdrop</button>
  </nb-card-body>
</nb-card>

<ng-template #contentTemplate let-data>
  <p>Here is the text provided via config: "{{ data.title }}"</p>
</ng-template>

<ng-template #disabledEsc>
  Disabled close on escape click.
</ng-template>
