<h2>Get data from external source example</h2>
<h3><a id="from-server" class="anchor" href="#from-server" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Loading From Server Example</h3>
<p>
  This example shows how to pass the data loaded from some API to the table DataSource.
</p>
<div class="with-source">
  <ngx-basic-example-load></ngx-basic-example-load>
</div>

<h3><a id="server" class="anchor" href="#server" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Server Data Source Example</h3>
<p>
  An example on how to load data user Server DataSource:
</p>
<div class="with-source">
  <ngx-advanced-example-server></ngx-advanced-example-server>
</div>

