<div class="raiting-box">
  <div class="col-md-4">
    <ngb-rating [(ngModel)]="_rate1" max="{{_max1}}" class="rating">
        <ng-template let-fill="fill">
            <i *ngIf="fill === 100" class="ion-android-star"></i>
            <i *ngIf="fill === 0" class="ion-android-star-outline"></i>
        </ng-template>
    </ngb-rating>
    <span class="help-block">Rate: {{_rate1}}</span>
  </div>

  <div class="col-md-8">
    <ngb-rating [(ngModel)]="_rate2" max="{{_max2}}" class="rating">
        <ng-template let-fill="fill">
            <i *ngIf="fill === 100" class="ion-ios-heart"></i>
            <i *ngIf="fill === 0" class="ion-ios-heart-outline"></i>
        </ng-template>
    </ngb-rating>
    <span class="help-block">Rate: {{_rate2}}</span>
  </div>
</div>
