<nb-flip-card>
  <nb-card-front>
    <nb-card>
      <div class="header">
        <div class="title">{{title}}</div>
        <div class="icon">
          <i class="{{icon}}"></i>
        </div>
      </div>
      <div class="info">
        <div class="value">{{value}}</div>
        <div class="prev-value">{{prevValue}}</div>
      </div>
      <div class="progress-container">
        <ngb-progressbar [value]="percent"></ngb-progressbar>
        <div class="stats">{{label}}</div>
      </div>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <ngx-stats-card-back [chartValue]="percent"></ngx-stats-card-back>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
