@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  /deep/ agm-map {
    width: 100%;
    height: nb-theme(card-height-large);
  }
}
