<app-header></app-header>
<section>
    <div class="container">
        <div class="dashSec">
            <h2>New Payment Request</h2>
            <aside class="d-flex justify-content-between align-items-center">
                <i></i>
                <ul>
                    <li>
                        <p>Minimum Amount:</p> 
                        <p>$20.00</p>
                    </li>
                    <li>
                        <p>Maximum Amount:</p> 
                        <p>$300.00</p>
                    </li>
                    <li>
                        <p>Last 7 Days:</p> 
                        <p>$1,110,00.00</p>
                    </li>
                    <li>
                        <p>What's Left:</p> 
                        <p>$810.00</p>
                    </li>
                </ul>
                <form>
                    <input type="text" placeholder="Amount">
                    <input type="text" placeholder="Phone Number">
                    <input type="text" placeholder="Reason">
                </form>
                <div class="contact">
                    <p>to +49 162 429 45040</p>
                    <p>Hi there's the source link to pay jean Bonbeurre the amount of $20 for a good joke</p>
                </div>
                <a href="" class="dashBtn">SEND <br> REQUEST <i class="message"></i></a>
            </aside>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="dashSec px-4">
                    <div class="d-flex justify-content-between">
                        <h2>Inbox</h2>
                        <h3><i class="dollar"></i> 1,754.50</h3>
                    </div>
                    <div class="row text-right">
                        <div class="col-5">
                            <p>Next Vault transfer <br> within 1 month</p>
                        </div>
                        <div class="col-3">
                            <i class="dollar"></i>
                        </div>
                        <div class="col-4">
                            <h4>20.00 <i></i></h4>
                        </div>
                    
                        <div class="col-5">
                            <p>Next Vault transfer <br> within 1 month</p>
                        </div>
                        <div class="col-3">
                            <i class="dollar"></i>
                        </div>
                        <div class="col-4">
                            <h4>210.50 <i></i></h4>
                        </div>
                    
                        <div class="col-5">
                            <p>Next Vault transfer <br> within 1 month</p>
                        </div>
                        <div class="col-3">
                            <i class="dollar"></i>
                        </div>
                        <div class="col-4">
                            <h4>184.70 <i></i></h4>
                        </div>
                    
                        <div class="col-5">
                            <p>Next Vault transfer <br> within 1 month</p>
                        </div>
                        <div class="col-3">
                            <i class="dollar"></i>
                        </div>
                        <div class="col-4">
                            <h4>101.50 <i></i></h4>
                        </div>

                        <div class="col-5">
                            <p>Next Vault transfer <br> within 1 month</p>
                        </div>
                        <div class="col-3">
                            <i class="dollar"></i>
                        </div>
                        <div class="col-4">
                            <h4>624.25 <i></i></h4>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-2">
                <div class="dashSec">
                    <a href="" class="dashBtn">STAKE <br> TO <br> VAULT <i></i></a>
                    <input type="text" placeholder="Amount" class="my-3">
                    <p>UNDER $75: 1.0% BONUS</p>
                    <p>$300 to $525: 1.5% BONUS</p>
                    <p class="mb-1">OVER $525: 2.0% BONUS</p>
                    <p>Will be transferred back to </p>
                    <p>Inbox on <strong>MARCH 28th 2021</strong></p>
                </div>
                <div class="dashSec mt-4">
                    <a href="" class="dashBtn">Cash <br> Out <i></i></a>
                    <input type="text" placeholder="Amount" class="my-3">
                    <p>Will be transferred by </p>
                    <p><strong>DECEMBER 1st 2021</strong></p>
                </div>
            </div>
            <div class="col-5">
                <div class="dashSec px-4">
                    <div class="d-flex justify-content-between">
                        <h2>Vault</h2>
                        <h3><i class="dollar"></i> 1,754.50</h3>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <i class="lock"></i>
                        <div class="row vault text-right">
                            <div class="col-5">
                                <p>GUARANTEE FUND 5%</p>
                            </div>
                            <div class="col-3">
                                <i class="dollar"></i>
                            </div>
                            <div class="col-4">
                                <h4>350.25 <i></i></h4>
                            </div>
                            <div class="col-5">
                                <p>REFFERAL PROGRAM</p>
                            </div>
                            <div class="col-3">
                                <i class="dollar"></i>
                            </div>
                            <div class="col-4">
                                <h4>155.54 <i></i></h4>
                            </div>
                            <div class="col-5">
                                <p>PERSONAL STAKE</p>
                            </div>
                            <div class="col-3">
                                <i class="dollar"></i>
                            </div>
                            <div class="col-4">
                                <h4>615.16 <i></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <aside class="dashInner">
                        <div class="dashSec">
                            <h2><small> Pending Transfers</small></h2>
                            <div class="row">
                                <div class="col-2">
                                    <i  class="dollar"></i>
                                </div>
                                <div class="col-5">
                                    <h4>250.00</h4>
                                </div>
                                <div class="col-5">
                                    <p>Within 4 Days <i></i></p>
                                </div>
                                <div class="col-2">
                                    <i  class="dollar"></i>
                                </div>
                                <div class="col-5">
                                    <h4>100.00</h4>
                                </div>
                                <div class="col-5">
                                    <p>Within 3 Days <i></i></p>
                                </div>
                                <div class="col-2">
                                    <i  class="dollar"></i>
                                </div>
                                <div class="col-5">
                                    <h4>220.00</h4>
                                </div>
                                <div class="col-5">
                                    <p>Within 2 Days <i></i></p>
                                </div>
                                <div class="col-2">
                                    <i  class="dollar"></i>
                                </div>
                                <div class="col-5">
                                    <h4>100.00</h4>
                                </div>
                                <div class="col-5">
                                    <p>Within 1 Days <i></i></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="dashInner">
                        <div class="dashSec">
                            <h2><small>Cashed Out</small></h2>
                            <h4 class="text-center"><i  class="dollar"></i>12.540.00</h4>
                            <div class="d-flex justify-content-center align-items-center">
                                <p>INCLUDING BONUS:</p>
                                <h4><i class="dollar"></i>203.00</h4>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>