<div class="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><a class="email-link" href="mailto:mdo@gmail.com">mdo@gmail.com</a></td>
      <td>28</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td><a class="email-link" href="mailto:fat@yandex.ru">fat@yandex.ru</a></td>
      <td>45</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>Bird</td>
      <td>@twitter</td>
      <td><a class="email-link" href="mailto:twitter@outlook.com">twitter@outlook.com</a>
      </td>
      <td>18</td>
    </tr>
    <tr>
      <td>4</td>
      <td>John</td>
      <td>Snow</td>
      <td>@snow</td>
      <td><a class="email-link" href="mailto:snow@gmail.com">snow@gmail.com</a></td>
      <td>20</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Jack</td>
      <td>Sparrow</td>
      <td>@jack</td>
      <td><a class="email-link" href="mailto:jack@yandex.ru">jack@yandex.ru</a></td>
      <td>30</td>
    </tr>
  </table>
</div>
