<div class="row">
    <div class="col-lg-6">
            <nb-card>
                <nb-card-header>Search</nb-card-header>
                <nb-card-body>
        
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-danger" (click)="getPreferences()">
                        Search
                      </button>
                    </span>
                  </div>
        
                </nb-card-body>
              </nb-card>
    </div>
  </div>
  