$small-social-font-path: '/assets/fonts/small-social' !default;
@font-face {
  font-family: 'small-social';
  font-display: auto;
  src:  url('#{$small-social-font-path}/small-social.eot?skntni');
  src:  url('#{$small-social-font-path}/small-social.eot?skntni#iefix') format('embedded-opentype'),
  url('#{$small-social-font-path}/small-social.ttf?skntni') format('truetype'),
  url('#{$small-social-font-path}/small-social.woff?skntni') format('woff'),
  url('#{$small-social-font-path}/small-social.svg?skntni#small-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='small-social-'], [class*=' small-social-'] {
  font-family: 'small-social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-social-facebook::before {
  content: '\e900';
}
.small-social-github::before {
  content: '\e901';
}
.small-social-twitter::before {
  content: '\e902';
}
