@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  h2 {
    line-height:2.1;
  }

  nb-card-body {
    overflow: visible;
  }

  nb-card-header {
    text-align: center;
  }

  .area-selected {
    background-color:#00bc8c !important;
  }

  .status-buttons a {
    display:inline-block;
    font-size:12px;
    margin-right:10px;
    text-align:center;
    text-transform:uppercase;
  }

  .status-buttons a:hover {
    text-decoration:none;
  }

  .status-buttons span {
      background:#8ce4ff;
      display:block;
      height:30px;
      margin:0 auto 10px;
      padding-top:5px;
      width:30px;
      border-radius:50%;
  }

  @include media-breakpoint-down(xs) {
    nb-tabset /deep/ul {
      font-size: 14px;
    }
  }
}
