<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">{{ 'GLOBAL.404' | translate }}</h2>
          <small class="sub-title">{{ 'GLOBAL.no_existe' | translate }}</small>
          <button (click)="goToHome()" type="button" class="btn btn-block btn-hero-primary">
            {{ 'GLOBAL.ir_inicio' | translate }}
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
