<div class="row">
  <div class="chat-container col-md-12 col-lg-12 col-xxxl-6">
    <nb-chat title="Nebular Conversational UI" size="xlarge" status="success">
      <nb-chat-message *ngFor="let msg of messages"
                       [type]="msg.type"
                       [message]="msg.text"
                       [reply]="msg.reply"
                       [sender]="msg.user.name"
                       [date]="msg.date"
                       [files]="msg.files"
                       [quote]="msg.quote"
                       [latitude]="msg.latitude"
                       [longitude]="msg.longitude"
                       [avatar]="msg.user.avatar">
      </nb-chat-message>
      <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
      </nb-chat-form>
    </nb-chat>
  </div>
  <div class="chat-container col-md-12 col-lg-12 col-xxxl-6">
    <ngx-chat-message-type></ngx-chat-message-type>
  </div>
</div>
