<nb-card>
  <nb-card-header>Chat</nb-card-header>
</nb-card>

<nb-chat title="Nebular Conversational UI" size="large" status="success">
  <nb-chat-message *ngFor="let msg of messages"
                   [type]="msg.type"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.user.name"
                   [date]="msg.date"
                   [files]="msg.files"
                   [quote]="msg.quote"
                   [latitude]="msg.latitude"
                   [longitude]="msg.longitude"
                   [avatar]="msg.user.avatar">
  </nb-chat-message>
  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
  </nb-chat-form>
</nb-chat>
