@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-select {
    display: block;
    width: 15rem;
  }

  .select-group {
    nb-select {
      margin-right: 0.75rem;
      margin-bottom: 1rem;
    }
  }
}
