@import '../../../@theme/styles/themes';

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {

  nb-tabset {
    display: flex;
    flex-direction: column;
    flex: 1;

    ::ng-deep ul {
      border-bottom: none;

      .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab {
    flex: 1;
    padding: 0 0 1.25rem;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  ngx-chart-panel-header,
  ngx-profit-chart,
  ngx-orders-chart {
    padding: 0 1.25rem;
  }
}
