@import '../../../@theme/styles/themes';
@include nb-install-component() {
  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .details {
    padding: 1.25rem 1.25rem 0;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;
      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }

    
  }

}
