@mixin nga-card-theme() {
  /deep/ nga-card {
    background: $nga-card-background;
    color: $nga-card-foreground;
    margin-bottom: $nga-card-padding;
    border-radius: $nga-card-border-radius;
    box-shadow: 1px 1px 4px $nga-card-shadow;
    font-weight: $nga-font-weight-normal;

    &[small] {
      min-height: $nga-card-height-small;
    }
    &[xsmall] {
      min-height: $nga-card-height-xsmall;
    }
    &[medium] {
      min-height: $nga-card-height-medium;
    }
    &[xmedium] {
      min-height: $nga-card-height-xmedium;
    }
    &[large] {
      min-height: $nga-card-height-large;
    }

    &[default] /deep/ nga-card-header {
      background-color: $nga-color-default;
      border: $nga-color-default;
    }
    &[disabled] /deep/ nga-card-header {
      background-color: $nga-color-disabled;
      border: $nga-color-disabled;
    }
    &[primary] /deep/ nga-card-header {
      background-color: $nga-color-primary;
      border: $nga-color-primary;
    }
    &[info] /deep/ nga-card-header {
      background-color: $nga-color-info;
      border: $nga-color-info;
    }
    &[success] /deep/ nga-card-header {
      background-color: $nga-color-success;
      border: $nga-color-success;
    }
    &[warning] /deep/ nga-card-header {
      background-color: $nga-color-warning;
      border: $nga-color-warning;
    }
    &[danger] /deep/ nga-card-header {
      background-color: $nga-color-danger;
      border: $nga-color-danger;
    }

    @include nga-scrollbars(0.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));

    /deep/ nga-card-body {
      padding: $nga-card-padding;
    }

    /deep/ nga-card-footer {
      padding: $nga-card-padding;
      border-bottom-left-radius: $nga-card-border-radius;
      border-bottom-right-radius: $nga-card-border-radius;
    }

    /deep/ nga-card-header {
      padding: $nga-card-padding;
      border-bottom: 1px solid $nga-card-separator;
      border-top-left-radius: $nga-card-border-radius;
      border-top-right-radius: $nga-card-border-radius;
      font-weight: $nga-font-weight-normal;

      @include nga-headings();
    }
  }
}
