<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

      <ba-card baCardClass="banner-column-panel">
        <div class="banner">
          <div class="large-banner-wrapper">
            <img src="{{ ( 'app/typography/banner.png' | baAppPicture ) }}" alt=""/>
          </div>
          <div class="banner-text-wrapper">
            <div class="banner-text">
              <h1>Details Page</h1>

              <p>Lorem ipsum dolor sit amet</p>

              <p>Odio amet viverra rutrum</p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-12">
              <h4>Column heading example</h4>
              <p>Eget augue, lacus erat ante egestas scelerisque aliquam, metus molestie leo in habitasse magna
                maecenas</p>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

</div>
