@import '../../styles/variables';

@include nga-install-root-component() {

  nga-sidebar {
    .main-btn {
      display: block;
      padding: 1rem 3rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
