<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="label">Partner Code</label>
      <input nbInput fullWidth [(ngModel)]="data.customerID">
    </div>
    <div class="form-group">
      <label class="label">User Id</label>
      <input nbInput fullWidth [(ngModel)]="data.customerID">
    </div>
    <div class="form-group">
      <label class="label">Promo Type</label>
      <!-- <input nbInput fullWidth [(ngModel)]="data.promotionType"> -->
      <nb-card-body>
        <nb-select [(selected)]="data.promotionType">
          <nb-option value="Discount">Discount</nb-option>
          <nb-option value="Cashback">Cashback</nb-option>
        </nb-select>
      </nb-card-body>
    </div>
    <div class="form-group">
      <label class="label">Periode </label>
      <input nbInput fullWidth [(ngModel)]="data.validDay">
    </div>
    <div class="form-group">
      <label class="label">Coupon Code</label>
      <input nbInput fullWidth [(ngModel)]="data.code">
    </div>
    <div class="form-group">
      <label class="label">Valid Start</label>
      <!-- <input nbInput fullWidth [(ngModel)]="data.validFrom"> -->
      <input nbInput fullWidth placeholder="Select Date" [nbDatepicker]="formpickerstart" [(ngModel)]="data.validFrom">
      <nb-datepicker #formpickerstart></nb-datepicker>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="label">Valid End</label>
      <!-- <input nbInput fullWidth [(ngModel)]="data.validTo"> -->
      <input nbInput fullWidth placeholder="Select Date" [nbDatepicker]="formpickerend" [(ngModel)]="data.validTo">
      <nb-datepicker #formpickerend></nb-datepicker>
    </div>
    <div class="form-group">
      <label class="label">Quota per User</label>
      <input (keypress)="numberOnly($event)" nbInput fullWidth [(ngModel)]="data.maximumPerUser">
    </div>
    <div class="form-group">
      <label class="label">User Type</label>
      <input nbInput fullWidth [(ngModel)]="data.customerType">
    </div>
    <div class="form-group">
      <label class="label">Coverage Pickup</label>
      <input nbInput fullWidth [(ngModel)]="data.coverage">
    </div>
    <div class="form-group">
      <label class="label">Product</label>
      <!-- <input nbInput fullWidth [(ngModel)]="data.promotionType"> -->
      <nb-card-body>
        <nb-select [(selected)]="data.product">
          <nb-option value="Regular">Regular</nb-option>
          <nb-option value="Next Day">Next Day</nb-option>
          <nb-option value="Same Day">Same Day</nb-option>
          <nb-option value="Same Day Service">Same Day Service</nb-option>
          <nb-option value="Instant Delivery">Instant Delivery</nb-option>
          <nb-option value="Free Ongkir Regular">Free Ongkir Regular</nb-option>
        </nb-select>
      </nb-card-body>
    </div>
    <div class="form-group">
      <label class="label">Promo (IDR)</label>
      <input (keypress)="numberOnly($event)" nbInput fullWidth [(ngModel)]="data.value">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="label">Promo (%)</label>
      <input (keypress)="numberOnly($event)" nbInput fullWidth [(ngModel)]="data.value">
    </div>
    <div class="form-group">
      <label class="label">Max. Promo</label>
      <input (keypress)="numberOnly($event)" nbInput fullWidth [(ngModel)]="data.maximumDiscountValue">
    </div>
    <div class="form-group">
      <label class="label">Budget</label>
      <input (keypress)="numberOnly($event)" nbInput fullWidth [(ngModel)]="data.maximumDiscount">
    </div>
    <div class="form-group">
      <label class="label">Quota</label>
      <input (keypress)="numberOnly($event)" nbInput fullWidth [(ngModel)]="data.quota">
    </div>
    <button (click)="onSubmit()" type="submit" nbButton status="primary">Submit</button>
  </div>
</div>