
$nga-search-icon-color: #dce6e6;
$nga-close-icon-color: #dce6e6;
$nga-search-bg-secondary: #22d2d2;
$nga-search-text-color: #dce6e6;
$nga-search-placeholder-color: #060919;
$nga-search-bg: rgba(14, 16, 15, 0.9);
