<div class="checkbox-demo-row">
  <div class="input-demo checkbox-demo row">
    <ba-multi-checkbox [(ngModel)]="checkboxModel" [propertiesMapping]="checkboxPropertiesMapping"></ba-multi-checkbox>
  </div>
  <div class="input-demo radio-demo row">
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <span translate>{{'general.forms.option1'}}</span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <span>Option 2</span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <span>Option3</span>
      </label>
    </div>
  </div>
</div>
<div>
  <ba-checkbox [(ngModel)]="isDisabled" [baCheckboxClass]="'disabled'" [label]="'Disabled checkbox'" [disabled]="true"></ba-checkbox>
  <div class="radio disabled">
    <label class="custom-radio nowrap">
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
      <span>Disabled option</span>
    </label>
  </div>
</div>
