<div class="checkbox-demo-row">
  <div class="input-demo checkbox-demo row">
    <ba-checkbox [(ngModel)]="value1" [baCheckboxClass]="'col-md-4'" [label]="'Check 1'" [disabled]="false" [value]="option1" id="inlineCheckbox01"></ba-checkbox>
    <ba-checkbox [(ngModel)]="value2" [baCheckboxClass]="'col-md-4'" [label]="'Check 2'" [disabled]="false" [value]="option2" id="inlineCheckbox02"></ba-checkbox>
    <ba-checkbox [(ngModel)]="value3" [baCheckboxClass]="'col-md-4'" [label]="'Check 3'" [disabled]="false" [value]="option3" id="inlineCheckbox03"></ba-checkbox>
  </div>
  <div class="input-demo radio-demo row">
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <span>Option 1</span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <span>Option 2</span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <span>Option3</span>
      </label>
    </div>
  </div>
</div>
<div>
  <div class="checkbox disabled">
    <label class="custom-checkbox nowrap">
      <input type="checkbox" value="" disabled>
      <span>Checkbox is disabled</span>
    </label>
  </div>
  <div class="radio disabled">
    <label class="custom-radio nowrap">
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
      <span>Disabled option</span>
    </label>
  </div>
</div>
