<nb-card>
  <nb-card-header>List</nb-card-header>
</nb-card>

<div class="lists">
  <nb-card class="list-card">
    <nb-card-header>Some fruits</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>

  <nb-card class="list-card" size="small">
    <nb-card-header>Users</nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let user of users">
        <nb-user [name]="user.name" [title]="user.title">
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
