<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span translate>New York</span>
    </div>
    <div class="date">
      <span translate>Mon 29 May</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>20&deg;</span>
        </div>
        <div class="icon">
          <i class="ion-ios-sunny-outline"></i>
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name" translate>max</span>
          <span class="parameter-value">23&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name" translate>min</span>
          <span class="parameter-value">19&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name" translate>wind</span>
          <span class="parameter-value" translate>4 km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name" translate>hum</span>
          <span class="parameter-value">87%</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day">
        <span class="caption" translate>Sun</span>
        <i class="ion-ios-cloudy-outline"></i>
        <span class="temperature">17&deg;</span>
      </div>
      <div class="day">
        <span class="caption" translate>Mon</span>
        <i class="ion-ios-sunny-outline"></i>
        <span class="temperature">19&deg;</span>
      </div>
      <div class="day">
        <span class="caption" translate>Tue</span>
        <i class="ion-ios-rainy-outline"></i>
        <span class="temperature">22&deg;</span>
      </div>
      <div class="day">
        <span class="caption" translate>Wed</span>
        <i class="ion-ios-partlysunny-outline"></i>
        <span class="temperature">21&deg;</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
