@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card {
    background-image: nb-theme(radial-gradient);
  }

  nb-card-body {
    height: 100%;
    padding: 2rem;
    color: nb-theme(color-fg);
  }

  .location {
    font-family: nb-theme(font-secondary);
    font-size: 2.5rem;
    font-weight: nb-theme(font-weight-normal);
    color: nb-theme(color-fg-heading);
  }

  .date {
    font-family: nb-theme(font-main);
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: nb-theme(font-weight-light);
  }

  .daily-forecast {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;

    .info {
      display: flex;
      justify-content: space-around;

      .temperature {
        font-size: 5rem;
        font-weight: nb-theme(font-weight-bolder);
        font-family: nb-theme(font-secondary);
        color: nb-theme(color-fg-heading);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
      }

      .icon {
        font-size: 10rem;
        line-height: 10rem;
        color: nb-theme(color-success);

        @include nb-for-theme(cosmic) {
          color: nb-theme(color-fg);
          text-shadow: 0 3px 0 #665ebd,
          0 4px 10px rgba(33, 7, 77, 0.5),
          0 2px 10px #928dff;
        }

        @include nb-for-theme(corporate) {
          color: nb-theme(color-warning);
        }
      }
    }

    .details {
      display: flex;
      justify-content: space-around;

      .parameter {
        display: flex;
        flex-direction: column;
        text-align: center;

        .parameter-name {
          font-family: nb-theme(font-main);
          font-size: 1.25rem;
          font-weight: nb-theme(font-weight-light);
          line-height: 2rem;
        }

        .parameter-value {
          font-family: nb-theme(font-secondary);
          color: nb-theme(color-fg-heading);
          font-weight: nb-theme(font-weight-bolder);
        }
      }
    }
  }

  .weekly-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    .day {
      display: flex;
      flex-direction: column;
      text-align: center;

      .caption {
        text-transform: uppercase;
        font-family: nb-theme(font-secondary);
        color: nb-theme(color-fg-heading);
        font-weight: nb-theme(font-weight-bold);
        font-size: 1.25rem;
      }

      i {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }

      .temperature {
        color: nb-theme(color-fg-heading);
        font-family: nb-theme(font-secondary);
        font-weight: nb-theme(font-weight-bold);
        font-size: 1.25rem;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    nb-card-body {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
