@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  .location,
  .date {
    display: block;
  }

  .location {
    margin-bottom: 0.1rem;
  }

  .today {
    display: flex;
    justify-content: space-around;
  }

  .today-temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 1.5rem;
  }

  .today-icon {
    color: nb-theme(color-primary-default);
    font-size: 10rem;
    line-height: 1;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: 0.4rem;
  }

  .today-details {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .parameter {
    flex: 1 1 auto;
    text-align: center;
  }

  .parameter-name,
  .parameter-value {
    display: block;
  }

  .caption {
    text-transform: uppercase;
  }

  .weekly-forecast {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
  }

  .day {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .weather-icon {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
