@import '../../core/style/nga.globals';

$nga-layout-props: (
  min-height: 500px,
  height: 100%,
  padding: 20px,
  widht: 100%
);

$nga-layout-sidebar-props: (
  min-height: map-get($nga-layout-props, min-height),
  height: map-get($nga-layout-props, height),
  padding: map-get($nga-layout-props, padding),
  width: 20%
);

$nga-layout-content-props: (
  min-height: map-get($nga-layout-props, min-height),
  height: map-get($nga-layout-props, height),
  padding: map-get($nga-layout-props, padding),
  width: 80%
);

/deep/ nga-layout {
  display: block;
  height: map-get($nga-layout-props, height);
  width: map-get($nga-layout-props, width);
  min-height: map-get($nga-layout-props, min-height);
}

/deep/ nga-layout-sidebar {
  display: block;
  float: left;
  height: map-get($nga-layout-sidebar-props, height);
  min-height: map-get($nga-layout-sidebar-props, min-height);
  width: map-get($nga-layout-sidebar-props, width);
  padding: map-get($nga-layout-sidebar-props, padding);

  &[left] {
    float: left;
  }

  &[right] {
    float: right;
  }
}

/deep/ nga-layout-content {
  display: block;
  float: left;
  height: map-get($nga-layout-content-props, height);
  min-height: map-get($nga-layout-content-props, min-height);
  width: map-get($nga-layout-content-props, width);
  padding: map-get($nga-layout-content-props, padding);
}
