
<nb-card *ngIf="info_info_caracteristica">
  <nb-card-header>{{"GLOBAL.info_caracteristica" | translate}} </nb-card-header>
  <nb-card-body class="row container">
      <div class="col-md-12">
        <ul>
            <li *ngFor="let lugar of info_info_caracteristica.Lugar">
              <label><strong>{{lugar.TipoRelacionUbicacionEnte.Nombre}}: </strong></label>
              {{lugar.Lugar.CIUDAD.Nombre}} / {{lugar.Lugar.DEPARTAMENTO.Nombre}} / {{lugar.Lugar.PAIS.Nombre}}
            </li>
            <li><label><strong> {{"GLOBAL.grupo_sanguineo" | translate}} {{"GLOBAL.rh" | translate}}: </strong></label>
              {{info_info_caracteristica.GrupoSanguineo?info_info_caracteristica.GrupoSanguineo + ' ' + info_info_caracteristica.Rh:'N/A'}}
            </li>
            <li><label><strong>{{"GLOBAL.grupo_etnico" | translate}}: </strong></label>
              {{info_info_caracteristica.GrupoEtnico?info_info_caracteristica.GrupoEtnico.Nombre:'N/A'}}
            </li>
            <li><label><strong>{{"GLOBAL.tipo_discapacidad" | translate}}: </strong></label>
              <ul *ngIf="info_info_caracteristica.TipoDiscapacidad; else elseTemplate">
                <li *ngFor="let discapacidad of info_info_caracteristica.TipoDiscapacidad">
                  {{discapacidad.Nombre}}
                </li>
              </ul>
              <ng-template #elseTemplate>
                N/A
              </ng-template>
            </li>
        </ul>
        <span  *ngIf="url_editar"  (click)="editar()" class="link"><i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
      </div>
  </nb-card-body>
</nb-card>
