        <div class="col-md-12 col-lg-12 ">
            <nb-card [hidden]="!show_info" >
              <nb-card-body>
                <p>
                    <ngb-progressbar showValue="true" type="success" [value]="percentage" [animated]="true" [height]="'15px'"></ngb-progressbar>
                </p>
                <nb-tabset fullWidth (changeTab)="selectTab($event)">

                    <nb-tab  tabTitle="{{ 'GLOBAL.info_persona' | translate }}" [active]="info_persona">
                        <ngx-crud-info-persona info_persona_id={{this.info_persona_id}} (eventChange)="onChange($event)" (result)="traerInfoPersona($event)"></ngx-crud-info-persona>
                      </nb-tab>
                <nb-tab  tabTitle="{{ 'GLOBAL.info_caracteristica' | translate }}" [active]="info_caracteristica">
                      <ngx-crud-info-caracteristica info_caracteristica_id={{this.info_ente_id}} (eventChange)="onChange($event)" (result)="traerInfoCaracteristica($event)"></ngx-crud-info-caracteristica>
                </nb-tab>

                <nb-tab  tabTitle="{{ 'GLOBAL.informacion_contacto' | translate }}" [active]="info_contacto">
                    <ngx-crud-informacion-contacto informacion_contacto_id={{this.info_ente_id}} (eventChange)="onChange($event)" (result)="traerInfoContacto($event)"></ngx-crud-informacion-contacto>
                  </nb-tab>

                </nb-tabset>
              </nb-card-body>
            </nb-card>

            <nb-card [hidden]="!show_acad" >
                <nb-card-body>
                  <p>
                      <ngb-progressbar showValue="true" type="success" [value]="percentage" [animated]="true" [height]="'15px'"></ngb-progressbar>
                  </p>
                  <nb-tabset fullWidth (changeTab)="selectTab($event)">

                      <nb-tab  tabTitle="{{ 'GLOBAL.formacion_academica' | translate }}">
                          <ngx-list-formacion-academica></ngx-list-formacion-academica>
                      </nb-tab>
                  <nb-tab  tabTitle="{{ 'GLOBAL.idiomas' | translate }}">
                      <ngx-list-idiomas></ngx-list-idiomas>
                  </nb-tab>
                  </nb-tabset>
                </nb-card-body>
              </nb-card>

              <nb-card [hidden]="!show_expe" >
                  <nb-card-body>
                    <p>
                        <ngb-progressbar showValue="true" type="success" [value]="percentage" [animated]="true" [height]="'15px'"></ngb-progressbar>
                    </p>
                    <nb-tabset fullWidth (changeTab)="selectTab($event)">

                        <nb-tab  tabTitle="{{ 'GLOBAL.experiencia_laboral' | translate }}">
                            <ngx-list-experiencia-laboral></ngx-list-experiencia-laboral>
                        </nb-tab>
                    <nb-tab  tabTitle="{{ 'GLOBAL.publicaciones' | translate }}">
                        <ngx-list-idiomas></ngx-list-idiomas>
                    </nb-tab>
                    </nb-tabset>
                  </nb-card-body>
                </nb-card>

      <div [hidden]="!show_profile" *ngIf="info_ente_id" >
          <ngx-perfil (url_editar)="perfil_editar($event)" info_persona_id="{{info_ente_id}}"></ngx-perfil>
      </div>
        <div class="row container">
          <div class="col-6 col-sm-3">
              <nb-card class="exp-card" (click)="show_info=true; show_profile=false; show_acad=false; show_expe=false;" >
                  <nb-card-header> Informacion basica </nb-card-header>
                  <nb-card-body align="center">
                      <i class="nb-person" style="font-size: 5rem"></i>
                  </nb-card-body>
                </nb-card>
          </div>
          <div class="col-6 col-sm-3">
              <nb-card class="exp-card" (click)="show_profile=false; show_info=false; show_acad=true; show_expe=false;">
                  <nb-card-header> Formacion Academica </nb-card-header>
                  <nb-card-body align="center">
                      <i class="nb-person" style="font-size: 5rem"></i>
                  </nb-card-body>
              </nb-card>
          </div>
          <div class="col-6 col-sm-3">
              <nb-card class="exp-card" (click)="show_profile=false; show_info=false; show_acad=false; show_expe=true;">
                  <nb-card-header> Experiencia Laboral </nb-card-header>
                  <nb-card-body align="center">
                      <i class="nb-person" style="font-size: 5rem"></i>
                  </nb-card-body>
              </nb-card>
          </div>
          <div class="col-6 col-sm-3" *ngIf="info_ente_id">
              <nb-card class=" exp-card" (click)="show_profile=true; show_info=false; show_acad=false; show_expe=false;">
                  <nb-card-header> Perfil </nb-card-header>
                  <nb-card-body align="center">
                      <i class="nb-person" style="font-size: 5rem"></i>
                  </nb-card-body>
              </nb-card>
          </div>
        </div>
</div>


