<div class="col-md-12 col-lg-12 ">
  <nb-card [hidden]="!show_info">
    <nb-card-body>
      <div class="row">
        <div class="col-md-11">
          <ngb-progressbar showValue="true" type="success" [value]="percentage_info" [animated]="true" [height]="'15px'"></ngb-progressbar>
        </div>
        <div class="col-md-1" align="right">
          <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="show_profile=false; show_info=false; show_acad=false; show_expe=false;">X</button>
        </div>
      </div>
      <nb-tabset fullWidth (changeTab)="selectTab($event)">
        <nb-tab tabTitle="{{ 'GLOBAL.info_persona' | translate }}" [active]="info_persona">
          <ngx-crud-info-persona info_persona_id={{this.info_ente_id}} (eventChange)="perfil_editar('info_caracteristica')" (result)="traerInfoPersona($event,0)"></ngx-crud-info-persona>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.info_caracteristica' | translate }}" [active]="info_caracteristica">
          <ngx-crud-info-caracteristica info_caracteristica_id={{this.info_ente_id}} (eventChange)="perfil_editar('info_contacto')"
            (result)="setPercentage_info($event,1)"></ngx-crud-info-caracteristica>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.informacion_contacto' | translate }}" [active]="info_contacto">
          <ngx-crud-informacion-contacto informacion_contacto_id={{this.info_ente_id}} (eventChange)="perfil_editar('info_contacto')"
            (result)="setPercentage_info($event,2)"></ngx-crud-informacion-contacto>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>

  <nb-card [hidden]="!show_acad">
    <nb-card-body>
      <div class="row">
        <div class="col-md-11">
          <ngb-progressbar showValue="true" type="success" [value]="percentage_acad" [animated]="true" [height]="'15px'"></ngb-progressbar>
        </div>
        <div class="col-md-1" align="right">
          <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="show_profile=false; show_info=false; show_acad=false; show_expe=false;">X</button>
        </div>
      </div>
      <nb-tabset fullWidth (changeTab)="selectTab($event)">

        <nb-tab tabTitle="{{ 'GLOBAL.formacion_academica' | translate }}">
          <ngx-list-formacion-academica></ngx-list-formacion-academica>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.idiomas' | translate }}">
          <ngx-list-idiomas></ngx-list-idiomas>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>

  <nb-card [hidden]="!show_expe">
    <nb-card-body>
      <div class="row">
        <div class="col-md-11">
          <ngb-progressbar showValue="true" type="success" [value]="percentage_expe" [animated]="true" [height]="'15px'"></ngb-progressbar>
        </div>
        <div class="col-md-1" align="right">
          <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="show_profile=false; show_info=false; show_acad=false; show_expe=false;">X</button>
        </div>
      </div>
      <nb-tabset fullWidth (changeTab)="selectTab($event)">

        <nb-tab tabTitle="{{ 'GLOBAL.experiencia_laboral' | translate }}">
          <ngx-list-experiencia-laboral ente_id="{{info_ente_id}}"></ngx-list-experiencia-laboral>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.publicaciones' | translate }}">
          <ngx-list-idiomas></ngx-list-idiomas>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>

  <div [hidden]="!show_profile" *ngIf="info_ente_id && show_profile">
    <ngx-perfil (url_editar)="perfil_editar($event)" info_persona_id="{{info_ente_id}}"></ngx-perfil>
  </div>

  <div class="row" [hidden]="show_profile || show_info || show_acad || show_expe">
    <div class="col-sm-6 col-md-4 col-lg-3" align="center">
      <nb-card class="exp-card" (click)="show_info=true; show_profile=false; show_acad=false; show_expe=false;">
        <nb-card-header> Información Básica </nb-card-header>
        <nb-card-body class="icon-form">
          <i class="fa fa-address-card-o fa-5x"></i>
          <p class="percentage">{{percentage_info}} %</p>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" align="center">
      <nb-card class="exp-card" (click)="show_profile=false; show_info=false; show_acad=true; show_expe=false;">
        <nb-card-header> Formación Académica </nb-card-header>
        <nb-card-body class="icon-form">
          <i class="fa fa-graduation-cap fa-5x"></i>
          <p class="percentage">{{percentage_acad}} %</p>

        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" align="center">
      <nb-card class="exp-card" (click)="show_profile=false; show_info=false; show_acad=false; show_expe=true;">
        <nb-card-header> Experiencia Laboral </nb-card-header>
        <nb-card-body class="icon-form">
          <i class="fa fa-briefcase fa-5x"></i>
          <p class="percentage">{{percentage_expe}} %</p>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" align="center">
      <nb-card class=" exp-card" (click)="show_profile=true; show_info=false; show_acad=false; show_expe=false;">
        <nb-card-header> Perfil </nb-card-header>
        <nb-card-body class="icon-form">
          <i class="fa fa-user fa-5x"></i>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
