<div class="col-md-12 col-lg-12 ">
    <nb-card>
      <nb-card-body>
        <nb-tabset fullWidth (changeTab)="selectTab($event)">
            <nb-tab  tabTitle="{{ 'GLOBAL.info_persona' | translate }}">
                <ngx-crud-info-persona (eventChange)="onChange($event)"></ngx-crud-info-persona>
            </nb-tab>
            <nb-tab tabTitle="{{ 'GLOBAL.info_caracteristica' | translate }}">
                <ngx-crud-info-caracteristica (eventChange)="onChange($event)"></ngx-crud-info-caracteristica>
            </nb-tab>
            <nb-tab tabTitle="{{ 'GLOBAL.informacion_contacto' | translate }}">
                <ngx-crud-informacion-contacto (eventChange)="onChange($event)"></ngx-crud-informacion-contacto>
            </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
</div>