@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

    .mat-expansion-panel-header-title {
        @include nb-for-theme(cosmic) {
            color: #ffffff !important;
        }
    }
    .mat-expansion-panel {
        @include nb-for-theme(cosmic) {
            background-color: #3d3780 !important;
        }
    }
    .mat-expansion-panel-header {
        border-bottom-style: solid;
        border-bottom-color: #00d977;
        border-bottom-width: thin;
    }

}

.exp-card {
  cursor: pointer;
}
