@import '../../../../@theme/styles/variables';

@include nga-install-component() {
  text-align: center;

  .dropdown, .btn-group {
    margin-bottom: 1rem;
  }

  nga-card-body {
    overflow: visible;
  }
}
