<nga-card>
  <nga-card-header>Button Dropdowns</nga-card-header>
  <nga-card-body>
    <div class="btn-group btn-group-dropdown-divider" ngbDropdown>
      <button type="button" class="btn btn-primary">Dropdown</button>
      <button type="button" class="btn btn-primary" ngbDropdownToggle>
        <span class="sr-only">Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-primary">Dropdown</button>
      <button type="button" class="btn btn-primary" ngbDropdownToggle>
        <span class="sr-only">Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-outline-primary">Dropdown</button>
      <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
        <span class="sr-only">Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="btn-group btn-group-hidden" ngbDropdown>
      <button type="button" class="btn btn-primary">Dropdown</button>
      <button type="button" class="btn btn-primary" ngbDropdownToggle>
        <span class="sr-only">Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </nga-card-body>
</nga-card>
