<nga-card>
  <nga-card-header>Button Dropdowns</nga-card-header>
  <nga-card-body>
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-primary">Dropdown</button>
      <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Icon Button</a>
        <a class="dropdown-item" href="#">Hero Button</a>
        <a class="dropdown-item" href="#">Default</a>
      </div>
    </div>
    <div ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle>
        Dropdown
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Icon Button</a>
        <a class="dropdown-item" href="#">Hero Button</a>
        <a class="dropdown-item" href="#">Default</a>
      </div>
    </div>
    <div class="outline-dropdown" ngbDropdown>
      <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
        Dropdown
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Icon Button</a>
        <a class="dropdown-item" href="#">Hero Button</a>
        <a class="dropdown-item" href="#">Default</a>
      </div>
    </div>
    <div class="ghost-dropdown" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle>
        Dropdown
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Icon Button</a>
        <a class="dropdown-item" href="#">Hero Button</a>
        <a class="dropdown-item" href="#">Default</a>
      </div>
    </div>
  </nga-card-body>
</nga-card>
