@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  text-align: center;

  .dropdown, .dropup, .btn-group {
    margin-bottom: 1rem;
  }

  nb-card-body {
    overflow: visible;
  }
}
