@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    overflow: hidden;
    position: relative;
  }

  /deep/ canvas {
    border-bottom-left-radius: nb-theme(card-border-radius);
    border-bottom-right-radius: nb-theme(card-border-radius);
  }

  .echart {
    height: 100%;
    width: 100%;
  }

  .dropdown {
    min-width: 120px;
  }
}
