@mixin nga-layout-theme() {

  /deep/ nga-layout {

    .main-container {
      padding: $nga-layout-padding;
      min-height: $nga-layout-min-height;
      background: $nga-layout-background;
      color: $nga-layout-foreground;
    }

    /deep/ nga-layout-header {

      nav {
        min-height: $nga-header-min-height;
        background: $nga-header-background;
        color: $nga-header-foreground;
        a {
          color: $nga-header-foreground;
          @include hover-focus-active {
            color: $nga-header-foreground;
          }
        }
      }

      &[fixed] + .container-fluid {
        padding-top: calc(#{$nga-header-min-height} + #{$nga-layout-padding});
      }
    }
  }

}
