:host {

  /deep/ nga-layout-header {
    nav {
      display: flex;
      justify-content: center
    }

    .container-fluid {
      margin: 0;
      padding: 0;
    }
  }

  /deep/ nga-layout-footer {
    nav {
      display: flex;
      justify-content: center;
      overflow: hidden;

      &[fixed] {
        margin-top: 0;
      }
    }
  }
}
