:host {

  .main-container {
    display: flex;
  }

  /deep/ nga-layout-header {
    nav {
      display: flex;
      justify-content: center
    }

    .container-fluid {
      margin: 0;
      padding: 0;
    }
  }

  /deep/ nga-layout-footer {
    nav {
      display: flex;
      justify-content: center;
      overflow: hidden;

      &[fixed] {
        margin-top: 0;
      }
    }
  }

  /deep/ nga-layout-column {
    flex: 1 auto;

    &[right] {
      order: 3;
    }
    &[left] {
      order: 1;
    }
  }

  /deep/ nga-layout-content {
    flex: 2 auto;
    order: 2;
  }
}
