@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    nb-tab {
        font-size: 13px !important;
    }

    nb-tab select {
        height: auto !important;
        font-size: 13px;
    }

    nb-tab select option {
        height: auto !important;
        font-size: 13px;
    }

    nb-tab input {
        height: auto !important;
        font-size: 13px;
    }

    progress {
        height: 44px;
        margin-right: 10px;
    }
}
