@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  .chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.125rem;
    align-items: center;
  }

  .dropdown {
    min-width: 8.125rem;
  }
}
