@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .flip-icon {
    position: absolute;
    right: 0.625rem;
    top: 1rem;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0.625rem);
    cursor: pointer;
  }

  ::ng-deep .flipped {
    .back-container {
      .flip-icon {
        transform: scaleX(-1);
      }
    }

    .front-container {
      .flip-icon {
        display: none;
      }
    }
  }
}
