@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .nb-arrow-right {
    position: absolute;
    right: 0;
    top: 0;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0);
    padding: 1.5rem;
    cursor: pointer;
  }

  ::ng-deep .flipped {
    .back-container {
      .nb-arrow-right {
        transform: scaleX(-1);
      }
    }

    .front-container {
      .nb-arrow-right {
        display: none;
      }
    }
  }
}
