<nb-card-header>
  <div class="dropdown ghost-dropdown" ngbDropdown>
    <button type="button" ngbDropdownToggle class="btn"
            [ngClass]="{
              'btn-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default'}">
      {{ selectedCurrency }}
    </button>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li class="dropdown-item" *ngFor="let currency of currencies" (click)="changeCurrency(currency)">{{ currency }}</li>
    </ul>
  </div>
</nb-card-header>
<nb-card-body>
  <div class="chart-info">
    <div class="title">Daily Income</div>
    <div class="value">{{ earningLiveUpdateCardData.dailyIncome | ngxNumberWithCommas }}</div>
    <div class="delta"
         [class.up]="earningLiveUpdateCardData.delta.up"
         [class.down]="!earningLiveUpdateCardData.delta.up">
      {{ earningLiveUpdateCardData.delta.value }}%
    </div>
  </div>
  <ngx-earning-live-update-chart
    [liveUpdateChartData]="liveUpdateChartData">
  </ngx-earning-live-update-chart>
</nb-card-body>
