@import '../framework/theme/src/styles/themes/nga.theme.default.scss';

:host {
  @include nga-theme();
}

//$nga-background: #a5e0e6;
//$nga-foreground: black;
//
//$nga-color-primary: #ff002e;
//$nga-color-info: #ffcc00;
//
//$nga-color-light-primary: #138fcc;
//$nga-color-light-success: #7dce15;
//$nga-color-light-info: #ffffff;
//$nga-color-light-warning: #ffcc00;
//$nga-color-light-danger: #ff0030;
//
//$nga-font-weight-norbal: 450;
//$nga-card-shadow: red;
//$nga-card-separator: red;
//
