@import '../nga-layout.component.scss';

$nga-layout-sidebar-width: 20%;

/deep/ nga-layout-sidebar {
  @extend %nga-layout-container;

  display: block;
  padding: $nga-layout-padding;
  width: $nga-layout-sidebar-width;

  &[left] {
    order: 0;
  }

  &[right] {
    order: 2;
  }
}
