<div class="row">
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Pie</nga-card-header>
      <nga-card-body>
        <ngx-d3-pie></ngx-d3-pie>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Bar</nga-card-header>
      <nga-card-body>
        <ngx-d3-bar></ngx-d3-bar>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Line</nga-card-header>
      <nga-card-body>
        <ngx-d3-line></ngx-d3-line>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Equatin Plots</nga-card-header>
      <nga-card-body></nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Area Chart</nga-card-header>
      <nga-card-body></nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Polar Chart</nga-card-header>
      <nga-card-body></nga-card-body>
    </nga-card>
  </div>
</div>
