&.mobile{
  background: none;
  .body-bg{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include main-background();
    background-attachment: inherit;
  }
}
.panel.panel-blur {
  @include scrollbars(.4em, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.8));
  border-radius: 5px;
  color: $default-text;
  .panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
  }
  .panel-body {
  }
}
.btn-default {
  color: $default;
}
.form-control, .bootstrap-tagsinput input {
  @include placeholderStyle($default-text, 0.7);
  border: 1px solid $border;
  border-radius: 5px;
  color: $default-text;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  @include placeholderStyle($default-text, 0.5);
}
.irs-grid-text {
  color: $default-text;
}
