@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: nb-theme(card-padding);
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;

    @include nb-ltr(padding-right, 4rem);
    @include nb-rtl(padding-left, 4rem);
  }
}
