@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    overflow: hidden;
  }

  nb-tabset {
    height: 100%;

    ::ng-deep .tab-link {
      padding: 1.25rem 2rem;
    }
  }

  nb-tab {
    padding: 0;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }
}
