@mixin ngx-global-theme() {
  // any global, non-component styles go here
}

.nb-theme-cosmic {

}

//global styles for the whole application
[class^='col-'] {
  padding: 0 0.75rem;
}

.row {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
