@mixin ngx-global-theme() {
  // any global, non-component styles go here
}

.nga-theme-cosmic {
  // Styles for cards without separator
  nga-card nga-card-header + nga-card-body {
    padding-top: 0;
  }
  nga-card nga-card-body + nga-card-footer {
    padding-top: 0;
  }

  // Styles for modals without separator
  .modal-content .modal-header + .modal-body {
    padding-top: 0;
  }
  .modal-content .modal-body + .modal-footer {
    padding-top: 0;
  }
}

//global styles for the whole application
[class^='col-'] {
  padding: 0 0.75rem;
}

.row {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
