// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// import angular material theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);
//0095DD F2F2F2
$primary-color-theme: #2f5573;
$secundary-color-theme: #f2f2f2;
$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme((
  // footer
  footer-fg: #fff,
  footer-bg: #252525,
  footer-height: auto,
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  //smart-table
  smart-table-border-radius: 0.1rem	,
  smart-table-header-font-size: 0.8rem,
  smart-table-font-size: 0.65rem,
  smart-table-font-weight: 400,
  smart-table-padding: 0.275rem 0.725rem,
  smart-table-paging-border-width: 0.5,
  smart-table-filter-padding: 0.1rem 0.1rem,
  //form-control
  form-control-placeholder-font-size: 0.8rem,
  form-control-font-size: 0.8rem,
  form-control-border-width: 1px,
  form-control-border-radius: 0.1rem,
  //fonts
  font-weight-thin: 100,
  font-weight-light: 200,
  font-weight-normal: 300,
  font-weight-bolder: 400,
  font-weight-bold: 500,
  font-weight-ultra-bold: 600,
  //general
  padding: 1rem,
  font-size: 0.9rem,
  margin: 1rem,
  layout-padding: 2rem 0.2rem 3rem,

  sidebar-bg: #212121,
  sidebar-fg: $secundary-color-theme,
  sidebar-shadow: none,
  sidebar-padding: 0.3rem,
  sidebar-margin-top: 0,
  tabs-fg: gray,

  color-fg: #777777,
  menu-icon-color: $secundary-color-theme,
  card-shadow: 0 2px 8px 0 rgba(43, 43, 43, 0.494),

  menu-bg: #212121,
  menu-fg: $secundary-color-theme,
  menu-active-bg: #f2f2f2,
  menu-active-fg: #212121,
  menu-font-size: 0.8rem,
  menu-item-separator: #212121,

  menu-submenu-bg: #24292e,
  menu-submenu-fg: $secundary-color-theme,
  menu-submenu-active-bg: #24292e,
  menu-submenu-active-fg: $primary-color-theme,
  menu-submenu-item-border-width: 0,
  menu-submenu-item-padding: none,
  menu-submenu-item-container-padding: none,
  menu-submenu-padding: none,
  menu-submenu-item-border-radius: 0,
  menu-icon-font-size: 1.5rem,
  scrollbar-fg: #21212100,
  scrollbar-bg: #24292e00,


  //header
  header-font-family: 'sans-serif',
  header-font-size: 0.7rem,
  header-height: 3.5rem,
  header-padding: none,
  header-fg: $secundary-color-theme,
  header-bg: $primary-color-theme,
  header-shadow: none,

  footer-shadow: none,


  switcher-background: $primary-color-theme,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),
), default, default);

$nb-themes: nb-register-theme((
  //footer
  footer-height: auto,
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  //smart-table
  smart-table-border-radius: 0.1rem	,
  smart-table-header-font-size: 0.8rem,
  smart-table-font-size: 0.65rem,
  smart-table-font-weight: 400,
  smart-table-padding: 0.275rem 0.725rem,
  smart-table-paging-border-width: 0.5,
  smart-table-filter-padding: 0.1rem 0.1rem,
  //form-control
  form-control-placeholder-font-size: 0.8rem,
  form-control-font-size: 0.8rem,
  form-control-border-width: 1px,
  form-control-border-radius: 0.1rem,
  //fonts
  font-weight-thin: 100,
  font-weight-light: 200,
  font-weight-normal: 300,
  font-weight-bolder: 400,
  font-weight-bold: 500,
  font-weight-ultra-bold: 600,
  //general
  padding: 1rem,
  font-size: 0.9rem,
  margin: 1rem,

  switcher-background: #554db3,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),
), cosmic, cosmic);

$nb-themes: nb-register-theme((
    // footer
    footer-fg: #fff,
    footer-bg: #252525,
    footer-height: auto,
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #000,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
  sidebar-bg: #212121,
  sidebar-fg: $secundary-color-theme,
  sidebar-shadow: none,
  sidebar-padding: 0.3rem,
  sidebar-margin-top: 0,
  tabs-fg: gray,

  color-fg: #777777,
  menu-icon-color: $secundary-color-theme,
  card-shadow: 0 2px 8px 0 rgba(43, 43, 43, 0.494),

  menu-bg: #000,
  menu-fg: $secundary-color-theme,
  menu-active-bg: #f2f2f2,
  menu-active-fg: #212121,
  menu-font-size: 0.8rem,
  menu-item-separator: #212121,

  menu-submenu-bg: #000,
  menu-submenu-fg: $secundary-color-theme,
  menu-submenu-active-bg: #f2f2f2,
  menu-submenu-active-fg: $primary-color-theme,
  menu-submenu-item-border-width: 0,
  menu-submenu-item-padding: none,
  menu-submenu-item-container-padding: none,
  menu-submenu-padding: none,
  menu-submenu-item-border-radius: 0,
  menu-icon-font-size: 1.5rem,
  scrollbar-fg: #21212100,
  scrollbar-bg: #fff,
), corporate, corporate);
