// nga theming framework
@import '~@nga/theme/styles/theming';
// nga our of the box themes
@import '~@nga/theme/styles/themes';

// which themes you what to enable (empty to enable all - not recommended)
$nga-enabled-themes: (default, light, cosmic);

$nga-themes: nga-register-theme((
 // app wise variables for each theme
), default, default);

$nga-themes: nga-register-theme((
  // app wise variables for each theme
), cosmic, cosmic);

$nga-themes: nga-register-theme((
  // app wise variables for each theme
), light, light);
