<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Sound<span>Sphere</span></a>
  </div>
  <nb-select class="theme-select" [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               nbContextMenuTag="user-context-menu"
               [onlyPicture]="userPictureOnly"
               [name]="currentUser?.name || user?.name"
               [picture]="currentUser?.avatarUrl || user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
