@import '../../styles/variables';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .header-container {
    display: flex;
    align-items: center;

    .navigation {
      padding-right: nb-theme(padding);
      font-size: 2.5rem;
    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      border-left: 1px solid nb-theme(separator);

      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }

    .theme-buttons {
      margin-left: 3rem;
      button {
        margin-right: 1rem;
      }
    }
  }
}

