@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .summary-container {
    display: flex;
    flex: 1;
    background-color: nb-theme(background-basic-color-3);
    justify-content: space-between;
    padding: 1.5rem 4rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid nb-theme(border-basic-color-4);
    border-left: none;
    border-right: none;
  }
}
