@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .summary-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: nb-theme(background-basic-color-2);
    justify-content: space-between;
    padding: 1.5rem 4rem 1rem;
    border: 1px solid nb-theme(border-basic-color-3);
    border-left: none;
    border-right: none;
  }
}
