<nga-card>
  <nga-card-body>
    <div class="actions-groups">
      <div class="container-title">
        <span>Action Groups</span>
      </div>
      <nga-actions size="medium">
        <nga-action icon="ion-navicon"></nga-action>
        <nga-action>
          <nga-search type="rotate-layout"></nga-search>
        </nga-action>
        <nga-action icon="ion-ios-email-outline"></nga-action>
        <nga-action disabled icon="ion-ios-bell-outline"></nga-action>
        <nga-action>
          <nga-user [menu]="userMenu" name="Han Solo"></nga-user>
        </nga-action>
        <nga-action icon="ion-ios-gear-outline"></nga-action>
      </nga-actions>
    </div>
  </nga-card-body>
</nga-card>
