<nb-card accent="primary" size="small">
  <nb-card-header>Button With Spinner</nb-card-header>
  <nb-card-body>
    <div class="d-flex align-items-start">
      <div class="size-large-group">
        <button nbButton status="success" size="large" (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">
          Download
        </button>

        <button nbButton status="primary" size="large" (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
          Download
        </button>

        <button nbButton status="warning" size="large" (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large" nbSpinnerMessage="">
          Download
        </button>
      </div>
      <div class="size-medium-group">
        <button nbButton status="danger" size="medium" (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerMessage="">
          Download
        </button>

        <button nbButton status="info" size="medium" (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small" nbSpinnerMessage="">
          Download
        </button>

        <button nbButton status="info" size="medium" (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="xsmall" nbSpinnerMessage="">
          Download
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
