@import '../../../@theme/styles/variables';

@include nga-install-component() {

  ngx-echarts-pie, ngx-echarts-bar, ngx-echarts-line {
    display: block;
    height: 100%;
  }

  canvas {
    border-radius: nga-theme(card-border-radius);
  }

  .echart {
    height: 100%;
    width: 100%;
  }
}
