@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.675rem 0.5rem 0.5rem 1.25rem;
    border: none;
  }

  nb-card-body {
    overflow: hidden;
    position: relative;
  }

  /deep/ canvas {
    border-bottom-left-radius: nb-theme(card-border-radius);
    border-bottom-right-radius: nb-theme(card-border-radius);
  }

  .echart {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .dropdown {
    min-width: 120px;
  }
}
