@import '../../../@theme/styles/themes';

@include nb-install-component() {

  ::ng-deep nb-flip-card {
    .flip-button {
      top: 0;
      width: 2rem;
      height: 2rem;
      margin-bottom: 0;

      i {
        display: none;
      }
    }
  }
}
