<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <h5>Your Profile</h5>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="firstName">First Name</label>
                <input nbInput fullWidth id="firstName" formControlName="firstName" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="lastName">Last Name</label>
                <input nbInput fullWidth id="lastName" formControlName="lastName" placeholder="Last Name">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">Email</label>
                <input nbInput fullWidth id="email" formControlName="email" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="phone">Phone</label>
                <input nbInput fullWidth id="phone" formControlName="phone" placeholder="Phone Number">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="company">Company</label>
                <input nbInput fullWidth id="company" formControlName="company" placeholder="Company">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="position">Position</label>
                <input nbInput fullWidth id="position" formControlName="position" placeholder="Position">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="label" for="address">Address</label>
                <input nbInput fullWidth id="address" formControlName="address" placeholder="Address">
              </div>
            </div>
          </div>
          
          <div class="row mt-4">
            <div class="col-12 text-center">
              <button nbButton status="primary" [disabled]="profileForm.invalid">
                <nb-icon icon="save-outline"></nb-icon> Update Profile
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>