@mixin nga-card-header-theme() {

  /deep/ nga-card-header {
    padding: $nga-card-padding;
    border-bottom-color: $nga-card-separator;
    border-top-left-radius: $nga-card-border-radius;
    border-top-right-radius: $nga-card-border-radius;
    font-weight: $nga-font-weight-normal;
  }
}
