@mixin _headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content;
    }
  }
}

:host {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  opacity: 0.9;

  @include _headings() {
    margin: 0;
  }
}
