<nga-card>
  <nga-card-header>Default Buttons</nga-card-header>
  <nga-card-body>
    <div class="row default-buttons">
      <div class="example-container col-md-4" *ngFor="let b of buttons">
        <div class="container-title">
          <span>{{ b.containerTitle }}</span>
        </div>
        <div class="container-btn">
          <button class="btn {{ b.class }} btn-demo">{{ b.title }}</button>
        </div>
        <div class="states-container {{ b.container }}">
          <div class="state-container">
            <div class="state-value original"></div>
            <div class="state-details">
              <span class="header">Default</span>
              <span class="subheader">{{ b.default }}</span>
            </div>
          </div>
          <div class="state-container">
            <div class="state-value hover"></div>
            <div class="state-details">
              <span class="header">Hover</span>
              <span class="subheader">20% white</span>
            </div>
          </div>
          <div class="state-container">
            <div class="state-value active"></div>
            <div class="state-details">
              <span class="header">Active</span>
              <span class="subheader">20% black</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nga-card-body>
</nga-card>
