$btn-empty-size: 50px;

.btn-empty {
  height: $btn-empty-size !important;
  width: $btn-empty-size !important;
  padding: 1rem !important;
}

.btn-default-container {
  .btn-container-title {
    margin-bottom: 14px;
  }

  .btn-details-container {
    margin-top: 24px;

    .btn-details-item {
      display: flex;
      margin-bottom: 8px;

      div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 17px;

        span:nth-child(1) {
          color: #ffffff;
        }
      }
    }
  }
}
