@import '../nga-layout.component';

$nga-layout-content-width: 80%;

/deep/ nga-layout-content {
  @extend %nga-layout-container;

  padding: $nga-layout-padding;
  float: left;
  width: $nga-layout-content-width;
}
