@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  ::ng-deep .leaflet-top, ::ng-deep .leaflet-bottom {
    z-index: 997;
  }

  ::ng-deep .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }
}

.map {
  height: 100%;
  padding: 0;
}
