@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  /deep/ .leaflet-top, /deep/ .leaflet-bottom {
    z-index: 997;
  }

  /deep/ .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }
}
