@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  text-align: center;
  flex-direction: column;

  .caption {
    display: block;
  }

  &.selected .caption,
  &:hover .caption {
    color: nb-theme(text-control-color);
  }

  &.bounding-month .caption {
    color: inherit;
  }
}
