<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>ME</span>数据平台</a>
  <a (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <!--<div class="search">--> <!-- Hoswey not implements now 24
    <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>-->
  <!--<input id="searchInput" type="text" placeholder="Search for...">-->
  <!--</div>-->

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'yy-bye' | baProfilePicture: 'gif' ) }}"> <!-- 20160908 Hoswey, use custom image -->
      </a>

      <!--Hoswey not implements profile,settings and logout now -->
      <!--<ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">-->
      <!--<li class="dropdown-item"><i class="dropdown-arr"></i></li>-->
      <!--<li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>-->
      <!--<li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>-->
      <!--<li class="dropdown-item"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>-->
      <!--</ul>-->
    </div>
    <!--<ba-msg-center></ba-msg-center>--> <!-- Hoswey, not implements now -->
  </div>
</div>
