<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card title="SweetAlert" baCardClass="with-scroll">
        <h4 class="page-header mt0">Usage examples</h4>
        <div class="row">
          <div class="col-sm-9 col-lg-6">
            <p>A basic message</p>
          </div>
          <div class="col-sm-3 col-lg-6">
            <p><a href="javascript:;" (click)="demo1()" class="btn btn-primary">Try me!</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-lg-6">
            <p>A title with a text under</p>
          </div>
          <div class="col-sm-3 col-lg-6">
            <p><a href="javascript:;"  (click)="demo2()" class="btn btn-primary">Try me!</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-lg-6">
            <p>A success message!</p>
          </div>
          <div class="col-sm-3 col-lg-6">
            <p><a href="javascript:;"(click)="demo3()" class="btn btn-primary">Try me!</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-lg-6">
            <p>A warning message, with a function attached to the &quot;Confirm&quot;-button</p>
          </div>
          <div class="col-sm-3 col-lg-6">
            <p><a href="javascript:;" (click)="demo4()" class="btn btn-primary">Try me!</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-lg-6">
            <p>... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.</p>
          </div>
          <div class="col-sm-3 col-lg-6">
            <p><a href="javascript:;"  (click)="demo5()"class="btn btn-primary">Try me!</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-lg-6">
            <p>A message with a custom icon</p>
          </div>
          <div class="col-sm-3 col-lg-6">
            <p><a href="javascript:;" (click)="demo6()" class="btn btn-primary">Try me!</a>
            </p>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
</div>
