@import '../../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {

  nb-card-body {
    padding: 0 1.25rem 1.25rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  .container-title {
    margin-bottom: 0.25rem;
  }

  .size-container {
    margin: 1.25rem 0 0 1.25rem;
  }

  .subheader {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }
}
