.row {
  padding: 0 1rem;
}

.size-container {
  margin-right: 1rem;

  .header {
    margin-bottom: 0.5rem;
  }

  .subheader {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
