<nga-card>
  <nga-card-header>Button Sizes</nga-card-header>
  <nga-card-body>
    <div class="row">
      <div class="size-container col-md-3">
        <div class="container-title">
          <span>Rectangle Button</span>
        </div>
        <div class="subheader">
          <span>1.25rem 1.75rem</span>
        </div>
        <div>
          <button class="btn btn-primary btn-lg">Large Button</button>
        </div>
      </div>
      <div class="size-container col-md-3">
        <div class="container-title">
          <span>Medium Button</span>
        </div>
        <div class="subheader">
          <span>1rem 1.5rem</span>
        </div>
        <div>
          <button class="btn btn-primary btn-md">Medium Button</button>
        </div>
      </div>
      <div class="size-container col-md-3">
        <div class="container-title">
          <span>Small Button</span>
        </div>
        <div class="subheader">
          <span>0.875rem 1.5rem</span>
        </div>
        <div>
          <button class="btn btn-primary btn-sm">Small Button</button>
        </div>
      </div>
      <div class="size-container col-md-3">
        <div class="container-title">
          <span>Tiny Button</span>
        </div>
        <div class="subheader">
          <span>0.625rem 1.25rem</span>
        </div>
        <div>
          <button class="btn btn-primary btn-tn">Tiny</button>
        </div>
      </div>
    </div>
  </nga-card-body>
</nga-card>
