<div class="row">
  <div class="btn-size-container col-md-4">
    <div>
      <span>Rectangle Button</span>
    </div>
    <div>
      <span>1.25rem 1.75rem</span>
    </div>
    <div>
      <button class="btn btn-primary btn-lg">Large Button</button>
    </div>
  </div>
  <div class="btn-size-container col-md-3">
    <div>
      <span>Medium Button</span>
    </div>
    <div>
      <span>1rem 1.5rem</span>
    </div>
    <div>
      <button class="btn btn-primary btn-md">Medium Button</button>
    </div>
  </div>
  <div class="btn-size-container col-md-3">
    <div>
      <span>Small Button</span>
    </div>
    <div>
      <span>0.875rem 1.5rem</span>
    </div>
    <div>
      <button class="btn btn-primary btn-sm">Small Button</button>
    </div>
  </div>
  <div class="btn-size-container col-md-2">
    <div>
      <span>Tiny Button</span>
    </div>
    <div>
      <span>0.625rem 1.25rem</span>
    </div>
    <div>
      <button class="btn btn-primary btn-tn">Tiny</button>
    </div>
  </div>
</div>
