@import '../../../../@theme/styles/variables';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {

  .size-container {
    display: inline-block;
    margin: 0 1rem 1rem 0;
  }

  .subheader {
    margin-bottom: 1rem;
    color: nb-theme(color-fg-heading);
  }
}
