@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    h2 {
        line-height:2.1;
    }
    
    .modal-header h2 {
        text-align: center;
    }

    div {
        font-size: 13px;
        margin-top: 5px;
    }

    select {
        height: auto !important;
        font-size: 13px;
    }

    input {
        height: auto !important;
        font-size: 13px;
    }

    .col-xs-6, .col-xs-offset-3 {
        float: left;
        margin-right: 10px;
        align-content: center;
    }
    
    .nombres {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .apellidos {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .tipodocumento {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .numerodocumento {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .genero {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .fechanacimiento {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .correo {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .ccorreo {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .contrasena {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .ccontrasena {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }
}
