@mixin base-header-theme() {
  /deep/ base-header {
    i.control-icon {
      &:hover {
        color: $nga-color-secondary;
      }
    }

    .logo {
      span {
        color: $nga-color-secondary;
      }

      &:hover {
        color: $nga-color-default;

        span {
          color: $nga-color-default;
        }
      }
    }

    .left > *,
    .right > * {
      border-color: rgba($nga-color-default, 0.2);
    }
  }
}