:host {
  width: 100%;
  display: flex;
  justify-content: space-between;

  i.control-icon {
    &:before {
      font-size: 2.3rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  div {
    display: flex;
    align-items: center;
  }

  .left {
    > * {
      padding: 0 1.25rem;
      border-right-width: 1px;
      border-right-style: solid;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: none;
      }
    }

    .control-icon.ion-navicon {
      font-size: 2.8rem;
    }

    .logo {
      font-size: 1.7rem;
      text-decoration: none;
      transition: all 0.2s ease;
    }
  }

  .right {
    > * {
      padding: 0 1.25rem;
      border-left-width: 1px;
      border-left-style: solid;

      &:first-child {
        border: none;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }
}

