@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
}
