<div class="col-md-12 col-lg-12 ">
  <nb-card>
    <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <nb-tabset fullWidth (changeTab)="selectTab($event)">
            <nb-tab [active]="!cambiotab" tabTitle="{{ 'FORM_GENERO.Listado' | translate }}">
              <br/>
              <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)" (rowSelect)="itemselec($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
              </ng2-smart-table>
              <!--button (click)="activetab()" >cambiar</button-->
            </nb-tab>
            <nb-tab [active]="cambiotab" tabTitle="{{ 'FORM_GENERO.Formulario' | translate }}">
              <ngx-crud-genero [genero_id]="uid" (eventChange)="onChange($event)"></ngx-crud-genero>
              <button (click)="activetab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i> {{ 'FORM_GENERO.Atras' | translate }}</button>
            </nb-tab>
          </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>
