<div class="btn-group-example">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-danger">Left</button>
    <button type="button" class="btn btn-danger">Middle</button>
    <button type="button" class="btn btn-danger">Right</button>
  </div>
</div>

<div class="btn-toolbar-example">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary">1</button>
      <button type="button" class="btn btn-primary">2</button>
      <button type="button" class="btn btn-primary">3</button>
      <button type="button" class="btn btn-primary">4</button>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
      <button type="button" class="btn btn-primary">5</button>
      <button type="button" class="btn btn-primary">6</button>
      <button type="button" class="btn btn-primary">7</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
      <button type="button" class="btn btn-primary">8</button>
    </div>
  </div>
</div>
