@import '../layout/layout/layout.component.theme.scss';
@import '../layout/sidebar/sidebar.component.theme.scss';
@import '../layout/card/card.component.theme.scss';
@import '../layout/tabset/tabset.component.theme.scss';
@import '../layout/sidebar/sidebar.component.theme.scss';
@import '../layout/route-tabset/route-tabset.component.theme.scss';
@import '../layout/menu/menu.component.theme.scss';

// Create a theme
@mixin nga-theme() {
  @include nga-layout-theme();
  @include nga-sidebar-theme();
  @include nga-card-theme();
  @include nga-tabset-theme();
  @include nga-route-tabset-theme();
  @include nga-menu-theme();
}
