@import '../../../@theme/styles/themes';

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}
.breadcrumb a {
  cursor: pointer;
  color: nb-theme(link-color) !important;
}
.breadcrumb a:hover {
  color: nb-theme(link-color-hover) !important;
}
