<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="Slim loading bar" class="slim-loading-bar-block">
        <button class="btn btn-default" (click)="setProgres30()">Set progress equals 30</button>
        <br>
        <button class="btn btn-default" (click)="incrementProgress()">Increment progress</button>
        <br>
        <button class="btn btn-default" (click)="startProgress()">Start progress</button>
        <br>
        <button class="btn btn-default" (click)="completeProgress()">Complete progress</button>
        <br>
        <button class="btn btn-default" (click)="stopProgress()">Stop progress</button>
        <br>
        <button class="btn btn-default" (click)="resetProgress()">Reset progress</button>
        <br>
        <button class="btn btn-default" (click)="changeProgressTo4px()">Change height to 4px</button>
        <br>
        <button class="btn btn-default" (click)="changeProgressTo2px()">Change height to 2px</button>
        <br>
        <button class="btn btn-default" (click)="changeProgressToWhite()">Change color to white</button>
        <br>
        <button class="btn btn-default" (click)="changeProgressToGreen()">Change color to green</button>
      </ba-card>
    </div>
  </div>
</div>
<ng2-slim-loading-bar></ng2-slim-loading-bar>
