@import '../../styles/pure/pure.redefines';

:host /deep/ {
  nga-layout-header > nav {
    justify-content: space-between;

    .logo {
      font-size: 1.7rem;
      color: $nga-color-primary;
      text-decoration: none;
      transition: all 0.2s ease;

      span {
        color: $nga-color-secondary;
      }

      &:hover span {
        color: $nga-color-primary;
      }
    }
  }

  nga-sidebar {

  }

  nga-layout-footer > nav {
  }
}
