//@import '../../../framework/theme/src/core/theming/nga.theme.default';
//
//$nga-theme: (
//  global: (
//    background: #a5e0e6,
//    foreground: black
//  ),
//  color-light: (
//    primary: #138fcc,
//    success: #7dce15,
//    info: #ffffff,
//    warning: #ffcc00,
//    danger: #ff0030
//  ),
//  font-weight: (
//    normal: 450
//  ),
//  card: (
//    shadow: red,
//    separator: red
//  )
//);
//
///deep/ nga-app-root {
//  @include nga-theme($nga-theme);
//}
