@import './nga.mixins';
@import './nga.functions';

$nga-social-colors: (
  facebook: #3b5998,
  twitter: #55acee,
  google: #dd4b39,
  linkedin: #0177b5,
  github: #6b6b6b,
  stackoverflow: #2f96e8,
  dribble: #f26798,
  behance: #0093fa
);

$nga-status-colors: (
  primary: #00abff,
  info: #40daf1,
  success: #8bd22f,
  warning: #e7ba08,
  danger: #f95372
);

$nga-status-colors-light: (
  primary: tint(map-get($nga-status-colors, primary), 30%),
  info: tint(map-get($nga-status-colors, info), 30%),
  success: tint(map-get($nga-status-colors, success), 30%),
  warning: tint(map-get($nga-status-colors, warning), 30%),
  danger: tint(map-get($nga-status-colors, danger), 30%)
);

$nga-status-colors-dark: (
  primary: shade(map-get($nga-status-colors, primary), 15%),
  info: shade(map-get($nga-status-colors, info), 15%),
  success: shade(map-get($nga-status-colors, success), 15%),
  warning: shade(map-get($nga-status-colors, warning), 15%),
  danger: shade(map-get($nga-status-colors, danger), 15%)
);

$nga-colors: (
  default: #ffffff,
  disabled: rgba(255, 255, 255, 0.4)
);

$nga-border-colors: (
  default: rgba(255, 255, 255, 0.5), // border color
  light: rgba(255, 255, 255, 0.3) // lighter version of border color (for hovers)
);

$nga-input-colors: (
  border: rgba(255, 255, 255, 0.6), // input border color
  background: rgba(255, 255, 255, 0.1) // input border color for hover
);

$nga-dropdown-text-color: #7d7d7d; // dropdown text color

$nga-link-color-statuses: (
  active: #285eb8,
  hover: darken(#285eb8, 20%)
);
