@import './nga.variables';

$nga-global: (
  background: transparent,
  foreground: map-get($nga-colors, default)
);

$nga-font-weight: (
  thin: 100,
  light: 300,
  normal: 400,
  bolder: 500,
  bold: 700,
  ultra-bold: 900
);

$nga-background-colors: (
  default: #f0f3f4,
  disabled: tint(map-get($nga-colors, disabled), 15%),
  primary: tint(map-get($nga-status-colors, primary), 20%),
  info: tint(map-get($nga-status-colors, info), 20%),
  success: tint(map-get($nga-status-colors, success), 20%),
  warning: tint(map-get($nga-status-colors, warning), 20%),
  danger: tint(map-get($nga-status-colors, danger), 20%),
);

$nga-card: (
  shadow: rgba(0, 0, 0, 0.15)
);

