@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  .toolbars-container {
    display: flex;
  }

  .pagination-container {
    flex: 1;
    margin-right: 1rem;

    .btn-group > .btn {
      padding-left: 1.125rem;
      padding-right: 1.125rem;
    }
  }

  .icon-toolbar-container {
    .btn-group > .btn {
      padding-left: 1.125rem;
      padding-right: 1.125rem;
    }
  }

  .icon-toolbar-container {
    flex: 1;
  }

  .toggle-types {
    .btn-toggle-radio-group {
      margin-bottom: 1rem;
    }
  }

  .divided-button-group {
    .btn-divided-checkbox-group {
      margin-bottom: 1rem;
      flex-wrap: wrap;
    }
  }

  .example-container:not(:last-child) {
    margin-bottom: 2rem;
  }

  .example-container > div {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .example-container > .btn-divided-checkbox-group {
    flex-wrap: wrap;

    > label {
      flex-basis: 10%;
      margin: 0 5px 10px 0;
    }
  }

  @include media-breakpoint-down(sm) {
    .btn {
      padding: 0.75rem 0.7rem;
    }
  }
}
