@import '../../../@theme/styles/themes';

@include nb-install-component() {
  display: block;
  height: nb-theme(card-height-medium);
  width: 100%;

  /deep/ chart {
    display: block;
    height: 100%;
    width: 100%;
  }
}
