<nb-card size="medium">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Orders">
      <div class="chart-container">
        <ngx-chart-header [type]="period" (periodChange)="setPeriod($event)"></ngx-chart-header>
        <ngx-orders-chart #ordersChart [period]="period"></ngx-orders-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-chart-header [type]="period" (periodChange)="setPeriod($event)"></ngx-chart-header>
        <ngx-profit-chart #profitChart></ngx-profit-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
