<div class="form-group row">
  <label class="label col-sm-3 col-form-label">Quotation No</label>
  <div class="col-sm-9">
    <input type="email" nbInput placeholder="Email">
  </div>
</div>
<div class="form-group row">
  <label class="label col-sm-3 col-form-label">Partner</label>
  <div class="col-sm-9">
    <input nbInput placeholder="Password">
  </div>
</div>
<div class="form-group row">
  <label class="label col-sm-3 col-form-label">Status</label>
  <div class="col-sm-9">
    <label>*SDS price is for first 5kg, each additional kg is additional Rp.</label>
    <input nbInput placeholder="Password">
    <label>for shipment total up to 10kg</label>
  </div>
</div>
<!-- <div class="form-group row">
  <div class="offset-sm-3 col-sm-9">
    <button (click)="onSubmit()" type="submit" nbButton status="primary">Sign in</button>
  </div>
</div> -->
<div class="form-group row">
  <label class="label col-sm-3 col-form-label">Add</label>
  <div class="col-sm-9">
    <input nbInput placeholder="Password">
    <label>Flow(s)</label>
    <!-- (click)="onSubmit()" -->
    <button type="submit" nbButton status="primary">Go</button>  </div>
</div>

<ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)"
  (createConfirm)="onCreateConfirm($event)" (userRowSelect)="openWindowForm($event)">
</ng2-smart-table>