<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Partner Code</label>
        <input nbInput fullWidth id="exampleInputEmail1" [(ngModel)]="data.customerID">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">User Id</label>
        <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.customerID">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Promo Type</label>
        <input nbInput fullWidth id="exampleInputEmail1" [(ngModel)]="data.promotionType">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Periode </label>
        <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.validDay">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Coupon Code</label>
        <input nbInput fullWidth id="exampleInputEmail1" [(ngModel)]="data.code">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Valid Start</label>
        <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.validFrom">
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="exampleInputPassword1" class="label">Valid End</label>
      <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.validTo">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="label">Promo</label>
      <input type="number" nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.value">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="label">Max. Promo</label>
      <input type="number" nbInput fullWidth id="exampleInputEmail1" [(ngModel)]="data.maximumDiscount">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="label">Quota per User</label>
      <input nbInput fullWidth id="exampleInputEmail1" [(ngModel)]="data.maximumPerUser">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="label">User Type</label>
      <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.customerType">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="label">Coverage Pickup</label>
      <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.coverage">
    </div>
  </div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Product</label>
        <input nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.product">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Promo (IDR)</label>
        <input type="number" nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.value">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Promo (%)</label>
        <input type="number" nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.value">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Max. Promo</label>
        <input type="number" nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.maximumDiscountValue">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Budget</label>
        <input type="number" nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.maximumDiscount">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Quota</label>
        <input type="number" nbInput fullWidth id="exampleInputPassword1" [(ngModel)]="data.quota">
      </div>
      <button (click)="onSubmit()" type="submit" nbButton status="primary">Submit</button>
    </form>
  </div>
</div>