<nb-card>
    <nb-card-header>Change Password</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>