@import '../../../../theme/sass/conf/conf';

.show-grid div[class^=col-]{
  padding: 10px;
  box-sizing: border-box;
  div {
    color: $default-text;
    text-align: center;
    font-size: 18px;
    background-color: $border-light;
    padding: 12px 5px;
  }
}

.grid-h{
  margin-top: 10px;
  margin-bottom: 0;
  &:first-child{
    margin-top: 0;
  }
}

body.badmin-transparent {
  .show-grid div[class^=col-]{
    div {
      color: $default;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
