<div>
  <div class="grupoinvestigacion">
    <label for="grupoinvestigacion"><strong>Grupo de investigación: </strong></label>
    <label for="grupoinvestigacion">Grupo de investigación</label>
  </div>
  <div class="lineainvestigacion">
    <label for="lineainvestigacion"><strong>Línea de investigación: </strong></label>
    <label for="lineainvestigacion">Línea de investigación</label>
  </div>
  <div class="titulopropuesta">
    <label for="nombrepropuestatrabajogrado"><strong>Título de la propuesta de trabajo de grado: </strong></label>
    <label for="nombrepropuestatrabajogrado">Título de la propuesta de trabajo de grado</label>
  </div>
  <div class="propuesta">
    <label for="propuesta">
      <strong>Propuesta de trabajo de grado: </strong>
    </label>
    <label for="docu1">nombre_archivo.ext</label>
    <span class="btn btn-warning">Visualizar</span>
  </div>
</div>