@import '../../../@theme/styles/themes';

@include nb-install-component() {
  position: relative;
  display: block;
  overflow: hidden;

  nb-card-header {
    border: none;

    .title {
      font-size: 1.5rem;
      font-weight: nb-theme(font-weight-bold);
    }

    .sub-title {
      color: nb-theme(color-fg);
    }
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  .chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.125rem;
  }
}
