@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); /* Firefox 16+*/
  }
  100% {
    -moz-transform: rotate(360deg); /* Firefox 16+*/
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

.spinner, .spinner1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: #000000;
}

.spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: darkred;
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.spinner div:first-child:before {
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: darkblue;
   -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
 }

.spinner div:first-child:after {
   content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: greenyellow;
   animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.spinner1  .blob {
  width: 2rem;
  height: 2rem;
  background: rgba(230,230,230,0.85);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 1rem);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.spinner1 .blob-2 { animation: animate-to-2 1.5s infinite; }
.spinner1 .blob-3 { animation: animate-to-3 1.5s infinite; }
.spinner1 .blob-1 { animation: animate-to-1 1.5s infinite; }
.spinner1 .blob-4 { animation: animate-to-4 1.5s infinite; }
.spinner1 .blob-0 { animation: animate-to-0 1.5s infinite; }
.spinner1 .blob-5 { animation: animate-to-5 1.5s infinite; }

@keyframes animate-to-2 {
  25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
  95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
  25%, 75% { transform: translateX(1.5rem) scale(0.75); }
  95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
  25% { transform: translateX(-1.5rem) scale(0.75); }
  50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
  95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
  25% { transform: translateX(1.5rem) scale(0.75); }
  50%, 75% { transform: translateX(4.5rem) scale(0.6); }
  95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
  25% { transform: translateX(-1.5rem) scale(0.75); }
  50% { transform: translateX(-4.5rem) scale(0.6); }
  75% { transform: translateX(-7.5rem) scale(0.5); }
  95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
  25% { transform: translateX(1.5rem) scale(0.75); }
  50% { transform: translateX(4.5rem) scale(0.6); }
  75% { transform: translateX(7.5rem) scale(0.5); }
  95% { transform: translateX(0rem) scale(1); }
}
