@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    margin: 0;
    height: 100%;
  }

  nb-card-header {
    border-color: transparent;
  }

  svg {
    width: 100%;
  }

  .stroke-pattern {
    fill: none;
    stroke: #bdc4cd;
    stroke-miterlimit: 10;
    opacity: 0.1;
    stroke-width: 1px;
  }

  .stroked-element {
    stroke-width: 4px;
    stroke: #bdc4cd;
    stroke-miterlimit: 10;
  }

  .room-border {
    stroke-width: 4px;
    stroke: #bdc4cd;
    stroke-miterlimit: 10;
    fill: none;
  }

  .room-bg {
    fill: nb-theme(card-background-color);
    stroke: transparent;
    cursor: pointer;
    stroke-width: 4px;
  }

  .room-bg-border-grad {
    fill: none;
    stroke: none;
    stroke-width: 4px;
  }

  .room-text {
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    fill: nb-theme(text-hint-color);
  }

  .selected-room {
    z-index: 40;

    .room-text {
      fill: nb-theme(text-basic-color);
    }
    .room-border {
      stroke: nb-theme(color-primary-default);
    }
  }

  .header {
    border-bottom: none;
    padding-bottom: 0;
  }
}
