@import '../../../@theme/styles/variables';

@include nga-install-component() {

  ngx-echarts-pie, ngx-echarts-bar, ngx-echarts-line {
    display: block;
    height: 100%;
  }

  /deep/ .echart {
    height: 100%;
  }
}
