<div class="row">
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Pie</nga-card-header>
      <nga-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Bar</nga-card-header>
      <nga-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Line</nga-card-header>
      <nga-card-body>
        <ngx-echarts-line></ngx-echarts-line>
      </nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Multiple x-axis</nga-card-header>
      <nga-card-body></nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Area Stack</nga-card-header>
      <nga-card-body></nga-card-body>
    </nga-card>
  </div>
  <div class="col-lg-6">
    <nga-card size="large">
      <nga-card-header>Bar Animation</nga-card-header>
      <nga-card-body></nga-card-body>
    </nga-card>
  </div>
</div>
