@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .legends {
    display: flex;
    @include nb-rtl(flex-direction, row-reverse);
    color: nb-theme(color-fg);
    padding: 0 0 0 2.85rem;
  }

  .legend {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 4rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .legend-item-color {
    min-width: 12px;
    min-height: 12px;

    &.green-square {
      background: nb-theme(legend-chart-green-square-background);
    }

    &.purple-square {
      background: nb-theme(legend-chart-purple-square-background);
    }

    &.light-purple-square {
      background: nb-theme(legend-chart-light-purple-square-background);
    }

    &.blue-square {
      background: nb-theme(legend-chart-blue-square-background);
    }

    &.yellow-square {
      background: nb-theme(legend-chart-yellow-square-background);
    }
  }

  .legend-title {
    padding: 0 0.75rem;
    white-space: nowrap;
  }
}
