<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-metric-card 
      [title]="statusCard.title" 
      [type]="statusCard.type"
      [value]="statusCard.value"
      [unitOfMeasurement]="statusCard.unitOfMeasurement"
      [iconClass]="statusCard.iconClass">
    </ngx-metric-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-6 col-xxl-7 col-lg-7 col-md-12">
    <ngx-country-coverage></ngx-country-coverage>
  </div>

  <div class="col-xxxl-6 col-xxl-5 col-lg-5 col-md-12">
    <ngx-client-showcase></ngx-client-showcase>
  </div>
</div>

<div class="row mt-4">
  <div class="col-xxxl-8 col-xl-12">
    <ngx-data-centers-map></ngx-data-centers-map>
  </div>

  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <ngx-recent-verifications></ngx-recent-verifications>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
    <ngx-pricing-regions></ngx-pricing-regions>
  </div>

  <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
    <ngx-compliance-summary></ngx-compliance-summary>
  </div>

  <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-12">
    <ngx-differentiators></ngx-differentiators>
  </div>
</div>