@import '../../core/theming/_nga.theming.scss';
@import '../../layout/nga-layout/_nga-layout.component.theme.scss';
@import '../../layout/nga-card/_nga-card.component.theme.scss';
@import '../../layout/nga-card/nga-card-header/_nga-card-header.component.theme.scss';
@import '../../layout/nga-card/nga-card-body/_nga-card-body.component.theme.scss';
@import '../../layout/nga-card/nga-card-footer/_nga-card-footer.component.theme.scss';
@import '../../layout/nga-tabset/_nga-tabset.component.theme.scss';
@import '../../layout/nga-tabset/_nga-tabset.component.theme.scss';
@import '../../layout/nga-tabset/nga-tabset-tab/nga-tabset-tab-header/_nga-tabset-tab-header.component.theme.scss';
@import '../../layout/nga-tabset/nga-tabset-tab/nga-tabset-tab-content/_nga-tabset-tab-content.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-column/_nga-layout-column.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-content/_nga-layout-content.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-footer/_nga-layout-footer.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-header/_nga-layout-header.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-sidebar/_nga-layout-sidebar.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-sidebar/nga-layout-sidebar-content/_nga-layout-sidebar-content.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-sidebar/nga-layout-sidebar-footer/_nga-layout-sidebar-footer.component.theme.scss';
@import '../../layout/nga-layout/nga-layout-sidebar/nga-layout-sidebar-header/_nga-layout-sidebar-header.component.theme.scss';

@function _nga-prepare-theme($nga-theme) {
  $_nga-font-weight: nga-get($nga-theme, font-weight, $nga-font-weight);

  $_nga-card: nga-get($nga-theme, card, $nga-card);
  $_nga-card-header: nga-get($nga-theme, card-header, $nga-card-header);
  $_nga-card-body: nga-get($nga-theme, card-body, $nga-card-body);
  $_nga-card-footer: nga-get($nga-theme, card-footer, $nga-card-footer);

  $_nga-tabset: nga-get($nga-theme, tabset, $nga-tabset);
  $_nga-tabset-tab: nga-get($nga-theme, tabset-tab, $nga-tabset-tab);
  $_nga-tabset-tab-header: nga-get($nga-theme, tabset-tab-header, $nga-tabset-tab-header);
  $_nga-tabset-tab-content: nga-get($nga-theme, tabset-tab-content, $nga-tabset-tab-content);

  $_nga-layout-column: nga-get($nga-theme, layout-column, $nga-layout-column);
  $_nga-layout-content: nga-get($nga-theme, layout-content, $nga-layout-content);
  $_nga-layout-footer: nga-get($nga-theme, layout-footer, $nga-layout-footer);
  $_nga_layout-header: nga-get($nga-theme, layout-header, $nga-layout-header);
  $_nga-layout-sidebar: nga-get($nga-theme, layout-sidebar, $nga-layout-sidebar);
  $_nga-layout-sidebar-content: nga-get($nga-theme, layout-sidebar-content, $nga-layout-sidebar-content);
  $_nga-layout-sidebar-footer: nga-get($nga-theme, layout-sidebar-footer, $nga-layout-sidebar-footer);
  $_nga-layout-sidebar-header: nga-get($nga-theme, layout-sidebar-header, $nga-layout-sidebar-header);

  $_nga-color: nga-get($nga-theme, color, $nga-color);
  $_nga-color-light: nga-get($nga-theme, color-light);
  $_nga-color-dark: nga-get($nga-theme, color-dark);
  $_nga-social-color: nga-get($nga-theme, social-color, $nga-social-color);
  $_nga-link-color-status: nga-get($nga-theme, link-color-status, $nga-link-color-status);

  $_nga-global: nga-get($nga-theme, global, $nga-global);

  @return (
    font-weight: $_nga-font-weight,
    card: $_nga-card,
    card-body: $_nga-card-body,
    card-footer: $_nga-card-footer,
    tabset: $_nga-tabset,
    tabset-tab: $_nga-tabset-tab,
    tabset-tab-header: $_nga-tabset-tab-header,
    tabset-tab-content: $_nga-tabset-tab-content,
    layout-column: $_nga-layout-column,
    layout-content: $_nga-layout-content,
    layout-footer: $_nga-layout-footer,
    layout-header: $_nga-layout-header,
    layout-sidebar: $_nga-layout-sidebar,
    layout-sidebar-content: $_nga-layout-sidebar-content,
    layout-sidebar-footer: $_nga-layout-sidebar-footer,
    layout-sidebar-header: $_nga-layout-sidebar-header,
    color: $_nga-color,
    color-light: nga-calculate-shade($_nga-color, $_nga-color-light, $nga-color-light, light),
    color-dark: nga-calculate-shade($_nga-color, $_nga-color-dark, $nga-color-dark, dark),
    social-color: $_nga-social-color,
    link-color-status: $_nga-link-color-status,
    global: $_nga-global
  );
}

// Create a theme
@mixin nga-theme($nga-theme) {
  $_nga-theme: _nga-prepare-theme($nga-theme);

  @include nga-card-theme($_nga-theme);
  @include nga-card-header-theme($_nga-theme);
  @include nga-card-body-theme($_nga-theme);
  @include nga-card-footer-theme($_nga-theme);

  @include nga-tabset-theme($_nga-theme);
  @include nga-tabset-tab-theme($_nga-theme);
  @include nga-tabset-tab-header-theme($_nga-theme);
  @include nga-tabset-tab-content-theme($_nga-theme);

  @include nga-layout-theme($_nga-theme);
  @include nga-layout-column-theme($_nga-theme);
  @include nga-layout-content-theme($_nga-theme);
  @include nga-layout-footer-theme($_nga-theme);
  @include nga-layout-header-theme($_nga-theme);
  @include nga-layout-sidebar-theme($_nga-theme);
  @include nga-layout-sidebar-content-theme($_nga-theme);
  @include nga-layout-sidebar-footer-theme($_nga-theme);
  @include nga-layout-sidebar-header-theme($_nga-theme);
}
