@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-body {
    display: flex;
    height: 100%;
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    nb-card-body {
      flex-direction: column;
    }
  }
}
