<div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="Hover Rows" baCardClass="with-scroll table-panel">
        <hover-table></hover-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="Bordered Table" baCardClass="with-scroll table-panel">
        <bordered-table></bordered-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="Condensed Table" baCardClass="with-scroll table-panel">
        <condensed-table></condensed-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="Striped Rows" baCardClass="with-scroll table-panel">
        <striped-table></striped-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="Contextual Table" baCardClass="with-scroll table-panel">
        <contextual-table></contextual-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="Responsive Table" baCardClass="with-scroll table-panel">
        <responsive-table></responsive-table>
      </ba-card>
    </div>
  </div>

</div>
