<div class="widgets">
  <div class="row">
    <div class="col-md-3">
      <ba-card title="Flat Buttons" baCardClass="with-scroll button-panel">
        <flat-buttons></flat-buttons>
      </ba-card>
    </div>
    <div class="col-md-3">
      <ba-card title="Raised Buttons" baCardClass="with-scroll button-panel">
        <raised-buttons></raised-buttons>
      </ba-card>
    </div>
    <div class="col-md-3">
      <ba-card title="Different Sizes" baCardClass="with-scroll button-panel df-size-button-panel">
        <sized-buttons></sized-buttons>
      </ba-card>
    </div>
    <div class="col-md-3">
      <ba-card title="Disabled" baCardClass="with-scroll button-panel">
        <disabled-buttons></disabled-buttons>
      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <ba-card title="Icon Buttons" baCardClass="with-scroll">
        <icon-buttons></icon-buttons>
      </ba-card>

      <ba-card title="Large Buttons" baCardClass="with-scroll large-buttons-panel">
        <large-buttons></large-buttons>
      </ba-card>

    </div>
    <div class="col-md-6">

      <ba-card title="Button Dropdowns" baCardClass="with-scroll">
        <dropdown-buttons></dropdown-buttons>
      </ba-card>

      <ba-card title="Button Groups" baCardClass="with-scroll">
        <group-buttons></group-buttons>
      </ba-card>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Progress Buttons"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/ui/buttons/widgets/progressButtons.html'"></div>
    </div>
  </div>

</div>
