@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  overflow: auto;

  nb-card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;

    > * {
      flex: 2;
    }

    ngx-traffic-bar {
      flex: 1;
    }
  }

  .delta {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      right: 100%;
      @include nb-ltr(margin-right, 0.7rem);
      @include nb-rtl(margin-left, 0.7rem);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }

    &.down {
      color: nb-theme(color-danger-default);

      &::before {
        bottom: 5px;
        border-top: 6px solid nb-theme(color-danger-default);
      }
    }

    &.up {
      color: nb-theme(color-success-default);

      &::before {
        top: 5px;
        border-bottom: 6px solid nb-theme(color-success-default);
      }
    }
  }

  @include media-breakpoint-down(is) {
    ngx-traffic-bar {
      display: none;
    }
  }
}
