<nb-card-body>
  <ul class="traffic-list">
    <li *ngFor="let item of frontCardData; trackBy: trackByDate">
      <div class="date">{{ item.date }}</div>
      <div class="value">{{ item.value }}</div>
      <div class="delta"
           [class.up]="item.delta.up"
           [class.down]="!item.delta.up">
        {{ item.delta.value }}%
      </div>
      <ngx-traffic-bar [barData]="item.comparison"
                       [successDelta]="item.delta.up">
      </ngx-traffic-bar>
    </li>
  </ul>
</nb-card-body>
