@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  overflow: hidden;

  nb-list {
    height: 100%;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      flex: 1;
    }

    &:first-child {
      border-top: none;
    }
  }

  .delta {
    display: flex;
    align-items: center;

    &.down {
      color: nb-theme(color-danger-default);
    }

    &.up {
      color: nb-theme(color-success-default);
    }
  }

  @include media-breakpoint-down(is) {
    ngx-traffic-bar {
      display: none;
    }
  }
}
