<div class="row">
  <div class="col-xxxl-3">
    <ngx-stats-card title="Profit" icon="ion-social-usd" [value]="'10 000$'" [prevValue]="'5 000$'" [percent]="50" label="Last week"></ngx-stats-card>
    <ngx-stats-card title="Orders" icon="ion-ios-cart" [value]="'1 000'" [prevValue]="'900'" [percent]="10" label="Last 24 hours"></ngx-stats-card>
    <ngx-stats-card title="Visits" icon="ion-ios-pulse-strong" [value]="'2 000'" [prevValue]="'1 300'" [percent]="35" label="Last hour"></ngx-stats-card>
  </div>

  <div class="col-xxxl-9">
    <ngx-ec-charts></ngx-ec-charts>
  </div>

  <div class="col-xxxl-12">
    <ngx-ec-map></ngx-ec-map>
  </div>
</div>
