<div class="row">
  <div class="col-xxxl-3">
    <ngx-profit-card></ngx-profit-card>
    <ngx-traffic-card></ngx-traffic-card>
  </div>

  <div class="col-xxxl-9">
    <ngx-ec-charts></ngx-ec-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9">
    <ngx-ec-visitors-analytics></ngx-ec-visitors-analytics>
  </div>

  <div class="col-xxxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
