<div class="row">
  <div class="col-lg-12">
    <ngx-hero-buttons></ngx-hero-buttons>
    <ngx-default-buttons></ngx-default-buttons>
    <ngx-outline-buttons></ngx-outline-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-shape-buttons></ngx-shape-buttons>
    <ngx-action-groups></ngx-action-groups>
    <ngx-labeled-actions-group></ngx-labeled-actions-group>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-size-buttons></ngx-size-buttons>
    <ngx-button-elements></ngx-button-elements>
  </div>
</div>
