<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-nebular-inputs></ngx-nebular-inputs>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card>
      <nb-card-header>Checkbox & Radio </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xxxl-6 inputs-group-margin-bottom">
            <ngx-nebular-checkbox></ngx-nebular-checkbox>
          </div>
          <div class="col-md-12 col-lg-12 col-xxxl-6 inputs-group-margin-bottom">
            <ngx-nebular-radio-group></ngx-nebular-radio-group>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <ngx-nebular-select></ngx-nebular-select>
  </div>
</div>
