<nb-card-header>
  <div class="header-container">
    <div class="icon">
      <i class="ion-social-usd"></i>
    </div>
    <span class="title">Profit</span>
  </div>
  <i class="nb-arrow-right"></i>
</nb-card-header>
<nb-card-body>
  <div class="info">
    <div class="period">
      <span class="time">1 JUN- 30 AUG</span>
      <span class="value">$ 1,260</span>
    </div>
    <div class="delimiter"></div>
    <div class="period latest">
      <span class="time">1 SEP- 30 NOV</span>
      <span class="value">$ 470</span>
    </div>
    <div class="changes">
      <i class="nb-arrow-dropup"></i>
      <div class="percent">60%</div>
    </div>
  </div>
  <ngx-stats-ares-chart></ngx-stats-ares-chart>
</nb-card-body>
