@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  ::ng-deep nb-card-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;

    .header-container {
      display: flex;
    }

    .title {
      padding-left: 1rem;
    }
  }

  ::ng-deep nb-card-body {
    padding: 0;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    .info {
      padding: 0.75rem;
      padding-bottom: 0.5rem;
      display: flex;
    }

    .period {
      display: flex;
      flex-direction: column;
      flex: 1;

      &.latest {
        padding-left: 0.75rem;
      }
    }

    .time-interval {
      color: nb-theme(color-fg);
    }

    .value {
      font-family: nb-theme(font-secondary), serif;
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(card-fg-heading);

      .currency {
        color: nb-theme(color-success);
      }
    }

    .result {
      position: absolute;
      right: 1rem;
      display: flex;
      color: nb-theme(color-success);
    }

  }

  ngx-stats-ares-chart {
    flex: 1;
  }

  ::ng-deep chart {
    display: block;
    height: 4rem;
    width: 100%;

    canvas {
      border-radius: 0 0 0.5rem 0.5rem;
    }

  }
}
