<nb-card [nbSpinner]="true" nbSpinnerSize="xxsmall">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="xsmall">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="small">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="medium">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="large">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="xlarge">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="xxlarge">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>
