@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    div {
        font-size: 13px;
        margin-top: 5px;
    }

    .programa {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .foto {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .gruposanguineo {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .rh {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }
    
    .tipolibreta {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .numerolibreta {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .estadocivil {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .grupoetnico {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .paisnacimiento {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .ciudadnacimiento {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .paisresidencia {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .ciudadresidencia {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .direccion {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .postal {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .telefono {
        width: 49%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .telefonoalt {
        width: 49%;
        float: left;
        margin-bottom: 10px;
    }

    .seguir {
        width:100%;
        float: left;
    }

    select {
        height: auto !important;
        font-size: 13px;
    }

    input {
        height: auto !important;
        font-size: 13px;
    }

    .fotonombre {
        display: inline-block;
        width: 74%;
    }

    .btn-warning {
        height: auto !important;
        font-size: 13px;
    }

    .col-xs-6, .col-xs-offset-3 {
        float: left;
        margin-right: 10px;
        align-content: center;
    }

    .btn-info {
        height: auto !important;
        font-size: 13px;
    }

    .progreso {
        font-size: 16px;
        vertical-align: middle;
    }

    progress {
        height: 44px;
        margin-right: 10px;
    }
    
    .siguiente {
        margin-left: 10px;
    }
}
