<div>
    <div class="programa">
        <label for="programa">* {{ 'DATOS_BASICOS.PROGRAMA' | translate }}</label>
        <select class="form-control" id="programa" name="programa">
            <option value="educación" for="programa1_true">Educación - Facultad de Educación </option>
            <option value="ciencia">Ciencia - Facultad de ciencias </option>
            <option value="tecnologia">Tecnología - Facultad de Tecnología</option>
        </select>
    </div>
    <div class="foto">
        <label for="foto">* {{ 'DATOS_BASICOS.FOTO' | translate }}</label>
        <br>
        <!--<span class="btn btn-warning">
            Agregar&hellip;-->
            <input type="file" id="foto">
            <br><br>
            <!--style="display: none;">-->
        <!--</span>
        <input type="text" placeholder="Ej. foto.png" class="form-control fotonombre" name="foto" ng-model="formData.name" disabled/>
        <input type="button" class="btn btn-danger" value="Eliminar">-->
    </div>
    <div class="gruposanguineo">
        <label for="gruposanguineo">* {{ 'DATOS_BASICOS.GRUPO_SANGUINEO' | translate }}</label>
        <select class="form-control" id="gruposanguineo" name="gruposanguineo">
            <option value="a">A</option>
            <option value="ab">AB</option>
            <option value="b">B </option>
            <option value="o">O</option>
        </select>
    </div>
    <div class="rh">
        <label for="rh">* {{ 'DATOS_BASICOS.RH' | translate }}</label>
        <select class="form-control" id="rh" name="rh">
            <option value="positivo">Positivo</option>
            <option value="negativo">Negativo</option>
        </select>
    </div>
    <div class="tipolibreta">
        <label for="paisnacimiento">{{ 'DATOS_BASICOS.TIPO_LIBRETA_MILITAR' | translate }}</label>
        <select class="form-control" id="tipolibreta" name="tipolibreta">
            <option value="primera">Primera clase</option>
            <option value="segunda">Segunda clase</option>
        </select>
    </div>
    <div class="numerolibreta">
        <label for="telefono">{{ 'DATOS_BASICOS.NUMERO_LIBRETA_MILITAR' | translate }}</label>
        <input type="number" placeholder="Ej. 5525252" min="10000000" max="100000000000000000000" step="1" class="form-control" name="numerolibreta"
            ng-model="formData.name">
    </div>
    <div class="estadocivil">
        <label for="estadocivil">* {{ 'DATOS_BASICOS.ESTADO_CIVIL' | translate }}</label>
        <select class="form-control" id="estadocivil" name="estadocivil">
            <option value="soltero">Soltero(a)</option>
            <option value="casado">Casado(a)</option>
            <option value="viudo">Viudo(a)</option>
            <option value="primera">Unión libre</option>
            <option value="primera">Divorciado(a)</option>
        </select>
    </div>
    <div class="grupoetnico">
        <label for="grupoetnico">* {{ 'DATOS_BASICOS.GRUPO_ETNICO' | translate }}</label>
        <select class="form-control" id="grupoetnico" name="grupoetnico">
            <option value="noaplica">No aplica</option>
            <option value="indigena">Indígena</option>
            <option value="afrodescendiente">Afrodescendiente</option>
            <option value="rom">Comunidad rom</option>
            <option value="gitano">Comuidad gitana</option>
            <option value="raizal">Comunidad raizal</option>
            <option value="palenquero">Comunidad palenquero</option>
            <option value="desplazado">Comunidad desplazada</option>
        </select>
    </div>
    <div class="discapacidad">
        <label for="discapacidad">* {{ 'DATOS_BASICOS.DISCAPACIDAD' | translate }}</label>
        <br>
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                Ninguna
            </span>
        </label>
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                Discapacidad auditiva
            </span>
        </label>
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                Discapacidad visual
            </span>
        </label>
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                Discapacidad motriz
            </span>
        </label>
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                Discapacidad intelectual
            </span>
        </label>
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                Discapacidad visceral
            </span>
        </label>
    </div>
    <div class="paisnacimiento">
        <label for="paisnacimiento">* {{ 'DATOS_BASICOS.PAIS_NACIMIENTO' | translate }}</label>
        <select class="form-control" id="paisnacimiento" name="paisnacimiento">
            <option value="peru">Peru</option>
            <option value="chile">Chile </option>
            <option value="rusia">Rusia</option>
        </select>
    </div>
    <div class="ciudadnacimiento">
        <label for="ciudadnacimiento">* {{ 'DATOS_BASICOS.CIUDAD_NACIMIENTO' | translate }}</label>
        <select class="form-control" id="ciudadnacimiento" name="ciudadnacimiento">
            <option value="aa">AA</option>
            <option value="bb">BB </option>
            <option value="cc">CC</option>
        </select>
    </div>
    <div class="paisresidencia">
        <label for="paisresidencia">* {{ 'DATOS_BASICOS.PAIS_RESIDENCIA' | translate }}</label>
        <select class="form-control" id="paisresidencia" name="paisresidencia">
            <option value="peru">Peru</option>
            <option value="chile">Chile </option>
            <option value="rusia">Rusia</option>
        </select>
    </div>
    <div class="ciudadresidencia">
        <label for="ciudadresidencia">* {{ 'DATOS_BASICOS.CIUDAD_RESIDENCIA' | translate }}</label>
        <select class="form-control" id="ciudadresidencia" name="ciudadresidencia">
            <option value="aa">AA</option>
            <option value="bb">BB </option>
            <option value="cc">CC</option>
        </select>
    </div>
    <div class="direccion">
        <label for="direccionresidencia">* {{ 'DATOS_BASICOS.DIRECCION_RESIDENCIA' | translate }}</label>
        <input type="text" placeholder="Ej. Cll 123 # 123 - 123" class="form-control" name="direccionresidencia" ng-model="formData.name">
    </div>
    <div class="postal">
        <label for="postal">{{ 'DATOS_BASICOS.CODIGO_POSTAL' | translate }}</label>
        <input type="number" placeholder="Ej. 552" min="0" max="100000" step="1" class="form-control" name="postal" ng-model="formData.name">
    </div>
    <div class="telefono">
        <label for="telefono">* {{ 'DATOS_BASICOS.TELEFONO' | translate }}</label>
        <input type="number" placeholder="Ej. 5525252" min="100" max="100000000000000000000" step="1" class="form-control" name="telefono"
            ng-model="formData.name">
    </div>
    <div class="telefonoalt">
        <label for="telefonocontacto">* {{ 'DATOS_BASICOS.TELEFONO_ALT' | translate }}</label>
        <input type="number" placeholder="Ej. 5525252" min="100" max="100000000000000000000" step="1" class="form-control" name="telefonocontacto"
            ng-model="formData.name">
    </div>
    <div class="seguir">
        <div class="col-xs-6 col-xs-offset-3">
            <label class="progreso">
                <progress max="100" value="0"></progress> 0%
            </label>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="form.interests" class="btn btn-info siguiente">
                {{ 'DATOS_BASICOS.SIGUIENTE' | translate }}
                <i _ngcontent-c24="" class="ion-arrow-right-b"></i>
            </a>
        </div>
    </div>
</div>