@mixin ngx-misc-theme($theme-name) {
  agm-map {
    .agm-map-container-inner {
      height: calc(#{$nga-card-height-xmedium} - 50px);
    }
  }

  .leaflet-container {
    height: calc(#{$nga-card-height-xmedium} - 50px);
  }

  .echart {
    height: calc(#{$nga-card-height-xmedium} - 50px);
  }
}
