<div class="button-wrapper">
  <button type="button" class="btn btn-default btn-raised">Default</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-primary btn-raised">Primary</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-success btn-raised">Success</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-info btn-raised">Info</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-warning btn-raised">Warning</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-danger btn-raised">Danger</button>
</div>
