<nb-card>
    <nb-card-header>Contact Information</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Office Location</label>
                <select class="form-control">
                  <option>Lonndon</option>
                  <option>New York</option>
                  <option>China</option>
                  <option>Australia</option>
                </select>
              </div>
    </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhone">Phone</label>
                <input type="text" class="form-control" value="+1 (23) 456 7890" id="inputPhone" placeholder="Phone">
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputRoom">Room</label>
                  <input type="text" class="form-control" value="301" id="inputRoom" placeholder="Room">
                </div>
              </div>
      </div>
    </nb-card-body>
  </nb-card>